.order-confirm-pic {
  .goods-picture {
    min-width: 112px;
    min-height: 112px;
    width: 112px;
    height: 112px;
    border-radius: 8px;
    margin-right: 16px;
  }

  .no-goods-picture {
    min-width: 112px;
    min-height: 112px;
    width: 112px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    margin-right: 16px;
    overflow: hidden;
  }
}
