.confirm-store {
  display: block;
  background-color: #fff;
  margin-top: 24px;
  padding: 24px;
  border-radius: 16px;
  .dangaoshushu {
    .tips {
      padding: 16px;
      margin-bottom: 40px;
      background: rgba(255, 102, 0, 0.08);
      border-radius: 8px;
      flex-direction: row;
      align-items: center;
      .text {
        margin-left: 8px;
        font-size: 24px;
        font-weight: 400;
        color: #ff6600;
        line-height: 24px;
      }
    }
  }
  &-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
  }

  &-type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 28px;
    background: linear-gradient(90deg, rgba(255, 136, 0, 1) 0%, rgba(255, 77, 0, 1) 100%);
    border-radius: 4px;

    &-text {
      color: #fff;
      font-size: 20px;
    }
  }

  &-name {
    font-size: 28px;
    color: #000000;
    overflow: hidden;
    width: 600px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 8px;
  }

  &-arrow {
    width: 28px;
    height: 28px;
  }

  .sku-pic-list {
    display: flex;
    flex-direction: row;

    .order-picture-com {
      //margin-right: 16px;
    }
  }
}

.order-confirm-middle-detail {
  padding: 0 0 26px;
  .tips {
    flex-direction: row;
    align-items: center;
    .text {
      font-size: 24px;
      color: #FF0022;
      margin-left: 10px;
    }
  }
  .package-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    .package-desc {
      font-size: 24px;
      font-weight: 400;
      color: #333333;
      line-height: 32px;
    }
    .package-arrow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .package-arrow-text {
        font-size: 24px;
        font-weight: 400;
        color: #999999;
        line-height: 32px;
        margin-right: 4px;
      }
    }
  }
  .packages-goods {
    .goods-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 24px;
    .item-name {
      width: 80vw;
      display: flex;
      flex-direction: row;
      font-size: 24px;
      font-weight: 400;
      color: #666666;
      line-height: 32px;
      .name-left {
        margin-right: 4px;
      }
      .name-right {
        font-size: 24px;
      font-weight: 400;
      color: #666666;
      line-height: 32px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* 这里是超出几行省略 */
      }
    }
    .item-num {
font-size: 24px;
font-weight: 400;
color: #666666;
line-height: 32px;
    }
  }
  }

  .product-item {
    flex-direction: row;
    font-size: 32px;
    margin-top: 15px;
    position: relative;

    .img-item {
      width: 112px;
      height: 112px;
      margin-right: 20px;
      border-radius: 12px;
    }

    .good-info {
      flex: 1;
      flex-direction: column;
      justify-content: space-between;

      .good-info-detail {
        flex: 1;

        .name {
          font-size: 26px;
          width: 85%;
        }

        .specDetails {
          font-size: 24px;
          color: #999;
        }

        .price {
          color: #ff6600;
          font-size: 26px;

          .unit {
            font-size: 26px;
          }
        }
      }

      .right {
        text-align: right;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .price,
        .number {
          color: #333;
          font-size: 26px;
          font-weight: normal;

          .price-point {
            color: #333;
            font-weight: normal;
          }

          .unit {
            color: #333;
            font-size: 26px;
          }

          .fixed2 {
            color: #333;
            font-weight: normal;
          }
        }
      }
    }

    .stock_right {
      position: absolute;
      bottom: 0;
      right: 0;

      .valid-text {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: #ff6600;
      }
    }
  }
}
