.shop-body-small {
  width: 176px;
  height: 176px;
  margin-right: 24px;
  margin-bottom: 56px;
  position: relative;
  margin-left: 32px;

  .img {
    width: 176px;
    height: 176px;
    border-radius: 12px;
    overflow: hidden;
    pointer-events: none;
  }

  .img img {
    width: 176px;
    height: 176px;
    border-radius: 12px;
    pointer-events: none;
  }

  .left-img {
    width: 40px;
    height: 40px;
    pointer-events: none;
  }

  .shop-delete {
    position: absolute;
    width: 40px;
    height: 40px;
    right: -20px;
    top: -20px;
    z-index: 999;
  }
}
