.loginGoodsList {
  flex: 1;
  background: #fff;
  position: relative;
}

.loginGoodsGreyList {
  background: #f5f5f5;
}

.goods-list-scroll-view {
  height: calc(100vh - 176px);
  overflow-y: auto;
  display: block;
  // display: flex;
  // flex-direction: column;
  .status {
    font-size: 24px;
    color: #999;
  }
}
