.select_city_current {
    width: 100%;
    min-height: 80px;
    padding: 0 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #EBEBEB;
    &__img {
        margin-right: 16px;
    }
    &__content {
        flex: 1;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        &--text {
            font-size: 24px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.8);
            margin-right: 16px;
        }
    }
}