.promotionGoodsList {
  flex: 1;
  background: #fff;
  position: relative;
}

.scroll-view {
  height: calc(100vh - 347px);
  display: block;

  .status {
    margin-top: 20px;
    font-size: 24px;
    color: #999;
  }
}
