.user-p-info {
  background-color: #ffffff;
  margin-top: 20px;
  padding: 10px 20px;

  .form-input {
    flex-direction: row;
    align-items: center;
    position: relative;
    font-size: 28px;
    padding: 24px 12px;

    .label {
      color: #333;
      min-width: 120px;
      margin-right: 24px;
      font-size: 28px;
      font-weight: 600;
    }

    .int {
      flex: 1;
      color: #333;
      font-size: 28px;
    }

    .r-btn {
      align-items: center;
      justify-content: center;

      .text {
        font-size: 28px;
        color: #ff6600;
      }

      .icon {
        width: 40px;
        height: 40px;
      }
    }

    .forget-password {
      font-size: 28px;
      color: #999;
      margin-left: 40px;
      padding-right: 20px;
    }
  }
}

.register-tips {
  margin-top: 20px;
  padding: 0 24px;

  .tishi {
    color: rgba(0, 0, 0, 0.4);
    font-size: 28px;
    margin-bottom: 16px;
  }

  .massage {
    color: rgba(0, 0, 0, 0.4);
    font-size: 24px;
  }
}

.send {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
