.taro-modal__foot {
  display: -webkit-box !important;
  // flex-direction: row;
}

.taro-model__btn {
  width: 50%;
  float: left;
}

.creditOrderItem {
  padding: 0 24px;
}

.user-credit {
  width: 100%;
  margin-top: 24px;
  border-radius: 12px;
  background-color: #fff;
  flex-direction: row;
  align-items: center;

  .dinapu {
    font-size: 28px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
    line-height: 28px;
  }

  .bottom {
    font-size: 32px;
    font-weight: 500;
    color: #ff6600;

    .bottomIcon {
      font-size: 20px;
      color: #ff6600;
      line-height: 60px;
    }
  }

  .borderBottom {
    height: 112px;
    width: 100%;
    background-color: #ebebeb;
  }
  /* 列表项 */
  .user-order-item {
    width: 100%;
    position: relative;
    padding-bottom: 5px;
    border-radius: 12px;

    .icon {
      width: 32px;
      height: 32px;
    }

    .user-order-item-link {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 24px 0 0;
      padding-top: 34px;

      .icon {
        width: 24px;
        height: 24px;
      }
    }

    .middle {
      flex-direction: row;
      padding: 40px 24px 32px 0;
      justify-content: space-between;

      .pic {
        flex-direction: row;
        align-items: center;

        .img-item {
          width: 112px;
          height: 112px;
          margin-right: 20px;
          border-radius: 5px;
        }
      }

      .order-check-view {
        font-size: 24px;
        align-items: center;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.8);
        margin: 0 12px;
      }

      .right {
        flex-direction: row;
        font-size: 24px;
        align-items: center;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
