.brandsDetails {
    height: 100vh;
    background-color: #f5f5f5;

    .scroll {
        padding-bottom: 20px;
        height: calc(100vh - 112px);
        height: calc(100vh - 112px - env(safe-area-inset-bottom));
    }
}