@import '../css/style.less';

@import url('@/assets/style/theme.less');
@import url('@/assets/style/mixin.less');

.taro-modal__foot {
  display: -webkit-box !important;
  // flex-direction: row;
}

.taro-model__btn {
  width: 50%;
  float: left;
}

.user-box {
  width: 100%;
  padding: 24px 24px 0 24px;

  
  /* 列表项 */
  .user-order-item {
    width: 100%;
    padding: 10px 24px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    .order-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 60px;
  
      &-text {
          font-size: 24px;
          color: #999;
        }
      }
    .icon {
      width: 32px;
      height: 32px;
    }

    .user-order-item-link {
      flex-direction: row;
      justify-content: space-between;

      .city-delivery {
        // width: 96px;
        padding: 2px 4px;
        // height: 28px;
        line-height: 26px;
        border-radius: 6px;
        background-color: rgba(255, 255, 255);
        color: var(--themeColor);
        font-size: 20px;
        text-align: center;
        border: 1px solid var(--themeColor);
        margin-left: 10px;
        align-items: center;
      }

      .ziying {
        padding: 0 8px;
        background: linear-gradient(90deg, rgba(254, 154, 41, 1) 0%, rgba(254, 90, 20, 1) 100%);
        border-radius: 4px;
        font-size: 20px;
        color: #fff;
      }

      .dian-pu {
        margin-left: 8px;
        flex: 1;
        overflow: hidden;
        max-width: 420px;

        .name {
          color: rgba(0, 0, 0, 0.8);
          font-size: 28px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          word-break: break-all;
          font-weight: 500;
        }

        .store-title {
          color: rgba(0, 0, 0, 0.8);
          font-size: 28px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          word-break: break-all;
          font-weight: 500;
        }

        span {
          color: rgba(0, 0, 0, 0.8);
          font-size: 28px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          word-break: break-all;
          font-weight: 500;
        }
      }

      .icon {
        width: 24px;
        height: 24px;
      }

      .order-list-item-status {
        font-size: 24px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.4);
      }

      .order-list-item-status2 {
        font-size: 24px;
        font-weight: 600;
        color: @primary-color;
      }
    }

    .middle {
      flex-direction: row;
      padding: 40px 0 32px 0;
      justify-content: space-between;

      .pic {
        flex-direction: row;
        align-items: center;

        .img-item {
          width: 112px;
          height: 112px;
          margin-right: 20px;
          border-radius: 5px;
        }
      }

      .right {
        flex-direction: row;
        font-size: 24px;
        align-items: center;
        font-weight: 500;
      }
    }

    .middle-detail {
      padding: 10px 0 26px;

      .product-item {
        flex-direction: row;
        font-size: 32px;
        margin-top: 15px;

        .img-item {
          width: 140px;
          height: 140px;
          margin-right: 20px;
          border-radius: 12px;
        }

                .cw {
                  width: calc(100% - 160px);
                }
        .content {
          flex-direction: column;
          width: 100%;
          height: 140px;

          .content-detail {
            .drama-con {
              .box {
                .venuesname {
                  font-size: 24px;
                  color: rgba(0, 0, 0, 0.6);
                  line-height: 36px;
                  margin-bottom: 8px;
                }
              }

              .num {
                font-size: 24px;
              }
            }

            flex: 1;

            .marketing {
              display: inline-block;
              height: 28px;
              width: 56px;
              background: linear-gradient(90deg, rgba(255, 136, 0, 1) 0%, rgba(255, 77, 0, 1) 100%);
              border-radius: 4px;
              margin-right: 3pt;
              text-align: center;

              .market-text {
                display: block;
                white-space: nowrap;
                height: 24px;
                width: 52px;
                font-size: 24px;
                font-weight: 500;
                color: #fff;
                transform: scale(0.83);
                margin-top: 2px;
              }
            }

            .name {
              font-size: 24px;
              overflow: hidden;
              word-break: break-all;
              overflow: hidden;
              /*! autoprefixer: off */
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
            }

            .specDetails {
              font-size: 20px;
              color: #999;
              margin-top: 8px;
            }
          }

          .content-right {
            display: flex;
              flex: 1;
            text-align: right;
            flex-direction: row;
            justify-content: space-between;
            // width: 75%;
            // .price {
            //   flex-direction: row;
            //   align-items: flex-end;
            //   left: 0;
            //   bottom: 0;

            //   .fixed1 {
            //     font-size: 32px;
            //     color: #ff6600;
            //     font-weight: bold;
            //   }

            //   .unit {
            //     color: #ff6600;
            //     font-size: 20px;
            //   }

            //   .fixed2 {
            //     font-size: 24px;
            //     color: #ff6600;
            //     transform: scale(0.83);
            //     transform-origin: left;
            //     font-weight: bold;
            //   }
            // }
            .number {
              // color: #aaa;
              font-size: 20px;
            }
          }
        }
      }
    }

    .middle-detail-movie {
      padding: 10px 0 26px;

      .product-item {
        flex-direction: row;
        font-size: 32px;
        margin-top: 15px;

        .img-item {
          width: 140px;
          height: 212px;
          margin-right: 20px;
          border-radius: 12px;
&.tongka {
            width: 160px;
            height: 160px;
          }
        }

        .content {
          flex-direction: column;
          width: 75%;

          .content-detail {
            flex: 1;

            .marketing {
              display: inline-block;
              height: 28px;
              width: 56px;
              background: linear-gradient(90deg, rgba(255, 136, 0, 1) 0%, rgba(255, 77, 0, 1) 100%);
              border-radius: 4px;
              margin-right: 3pt;
              text-align: center;

              .market-text {
                display: block;
                white-space: nowrap;
                height: 24px;
                width: 52px;
                font-size: 24px;
                font-weight: 500;
                color: #fff;
                transform: scale(0.83);
                margin-top: 2px;
              }
            }

            .name {
              font-size: 28px;
              // width: 85%;
            }

            .specDetails {
              font-size: 24px;
              color: rgba(0, 0, 0, 0.8);
              margin-top: 8px;
            }
          }
        }
      }
    }

    .product-more {
      font-size: 24px;
      color: #ff6600;
      width: 100%;
      padding: 10px 16px;
      background: rgba(255, 102, 0, 0.08);
      border-radius: 48px;
      margin-bottom: 40px;
      flex-direction: row;
      justify-content: center;

      .down-img {
        width: 24px;
        height: 24px;
        margin-top: 6px;
        margin-left: 6px;
      }

      .up-img {
        width: 24px;
        height: 24px;
        top: 6px;
        left: 5px;
        transform: rotate(180deg);
      }
    }

    .order-bottom {
      position: relative;
      flex-direction: column;

      .info {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }

      .price {
        line-height: 32px;

        .price2 {
          color: #ff6600;
          font-size: 20px;
        }

        .price1 {
          font-size: 32px;
          color: #ff6600;
          font-weight: 500;
        }

        view {
          flex-direction: row;
        }
      }

      .doajishi {
        font-size: 22px;
        align-items: center;
        flex-direction: row;
        margin-top: 8px;
        line-height: 20px;

        // position: absolute;
        // bottom: 10px;
        .title {
          font-size: 22px;
        }

        .count-text {
          font-size: 20px;
          color: rgba(0, 0, 0, 0.4);
        }

        .time {
          font-size: 10px;
        }
      }

      .btn {
        font-size: 20px;
        color: #ff6600;
        border-radius: 36px;
        padding: 10px 24px;
        border: 2px solid #ff6600;
        margin-right: 10px;
        font-weight: 500;
        align-items: center;
        margin-top: 0 !important;

        &:last-of-type {
          margin-right: 0;
        }

        &.btn-warning {
          background: linear-gradient(90deg, rgba(254, 154, 41, 1) 0%, rgba(254, 90, 20, 1) 100%);
          color: #fff;
          border: none;
          font-weight: bold;
        }
      }

      .btn-disabled {
        font-size: 20px;
        background: linear-gradient(90deg, rgba(230, 230, 230, 1) 0%, rgba(204, 204, 204, 1) 100%);
        flex-direction: row;
        border-radius: 36px;
        border: 2px solid #e6e6e6;
        color: #fff;
        justify-content: center;
        padding: 5px 22px;

        .timeprelist {
          color: #fff;
          font-size: 28px;
        }

        .buyText {
          font-size: 28px;
          position: relative;
          //top: 10px;
          color: #fff;
        }
      }

      .operate {
        display: flex;
        flex-direction: row;
        margin-top: 24px;
        justify-content: flex-end;
      }
    }
  }
}

.deliverWrap {
  margin-top: 14px;
  flex-direction: row;
  align-items: center;
  transform: scale(0.83);
  transform-origin: left center;
  background-color: var(--themeAlpha06);
  padding: 8px;
  border-radius: 4px;

  .deliverTag {
    font-size: 24px;
    color: var(--themeColor);
  }

  .deliverTime {
    color: var(--themeColor);
    font-size: 24px;
    margin-left: 16px;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;

  .rechargeStatus {
    font-size: 26px;
    color: var(--themeColor);
    margin: 20px 0;
  }

  .iconfonts {
    margin-right: 8px;
  }
}