// 价格
.social-goods-detail-priceprice {
  flex-direction: row;
  align-items: flex-end;
  flex-shrink: 0;

  .now-price {
    font-size: 48px;
    color: #ff6600;
    margin-right: 8px;
    font-weight: 500;

    .unit {
      font-size: 20px;
      color: #ff6600;
    }
  }

  .old-price {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.4);
    text-decoration: line-through;
  }

  .make {
    font-size: 20px;
    color: #ff6600;
    margin-left: 8px;
    margin-bottom: 4px;
  }
}
