//标题 副标题
.title-box {
  // margin-top: 16px;
  flex-shrink: 0;
  width: 100%;

  .title {
    font-size: 32px;
    color: #333;
    line-height: 48px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    overflow: hidden;
    font-weight: bold;
  }

  .sub-title {
    font-size: 28px;
    color: #999;
    line-height: 44px;
    margin-top: 8px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
    overflow: hidden;
  }
}
