.recommend_goods_list_scroll {
  flex: 1;
  background: #fff;
  position: relative;
  // margin: 24px 0;
  margin-top: 24px;
  padding: 0 24px;
  width: 100%;
  display: block;
  padding-bottom: 24px;

  &__title {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px 0;

    &::before,
    &::after {
      content: '';
      width: 48px;
      height: 4px;
      border-radius: 2px;
    }

    &::before {
      background: linear-gradient(to right, #ffffff 0%, #fc95ae 100%);
      margin-right: 16px;
    }

    &::after {
      background: linear-gradient(to left, #ffffff 0%, #90cffc 100%);
      margin-left: 16px;
    }

    &--text {
      font-size: 32px;
      color: #323232;
      margin: 0 16px;
      font-weight: bold;
    }
  }

  .spuSpecModal {
    bottom: 0 !important;
  }
}
