@import url('@/assets/style/theme.less');
@import url('@/assets/style/mixin.less');

.invitHead {
  background-color: #fff;
  padding: 24px;
  margin-bottom: 24px;
  position: relative;
  flex-shrink: 0;
  .banner {
    width: 702px;
    height: 240px;
    margin-bottom: 32px;
    border-radius: 12px;
  }

  .text1 {
    font-size: 24px;
    color: #999;
    align-self: center;
  }

  .detail-bt {
    .border(@width:2px; @radius:60px; @color:#ffffff);
    color: #fff;
    top: 48px;
    right: 48px;
    font-size: 24px;
    padding: 6px 16px;
    position: absolute;
    // border: 1px solid #fff;
    // border-radius: 30px;
  }
}
