.packageAPrizeListMain {
  height: 100vh;
  background-color: #f5f5f5;

  .prize-list-scroll-view {
    height: 100vh;
    overflow-y: auto;
    display: block;
    // display: flex;
    // flex-direction: column;
    .status {
      padding-bottom: 20px;
      font-size: 24px;
      color: #999;
    }
  }
}
