.packageBSalesSalesRank {
  .salesRankList {
    background-color: #ffffff;

    .item {
      padding: 32px 24px 32px 32px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .left {
        flex-direction: row;
        align-items: center;
        flex: 1;

        .userBox {
          position: relative;
          margin-right: 24px;

          .avatarImg {
            width: 96px;
            height: 96px;
            border-radius: 48px;
          }

          .rank-box {
            position: absolute;
            bottom: 0;
            // left: 30px;
            align-items: center;
            justify-content: center;
            height: 24px;
            width: 100%;

            .rank-text {
              font-size: 16px;
              color: #ffffff;
              z-index: 100;
            }

            .tipImg {
              position: absolute;
              top: 0;
              width: 76px;
              height: 24px;
              z-index: 1;
            }
          }
        }

        .name {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          flex: 1;
          line-height: normal;
        }

        .rankBox {
          flex: 1;
          width: 1px;
        }
      }

      .leftImg {
        width: 56px;
        height: 56px;
      }

      .rank-1,
      .rank-2,
      .rank-3,
      .rank {
        font-size: 60px;
        width: 40px;
        text-align: center;
      }

      .rank-1 {
        color: #ffd119;
      }

      .rank-2 {
        color: #c4ccd9;
      }

      .rank-3 {
        color: #edd2c8;
      }

      .rank {
        font-size: 28px;
        color: #999;
      }

      .ranking-text {
        font-size: 30px;
        color: #ff6600;
        font-weight: 500;
        width: 56px;
        height: 56px;
        text-align: center;
      }
    }

    .leftImg {
      width: 56px;
      height: 56px;
    }

    .rank-1,
    .rank-2,
    .rank-3,
    .rank {
      font-size: 60px;
      width: 40px;
      text-align: center;
    }

    .rank-1 {
      color: #ffd119;
    }

    .rank-2 {
      color: #c4ccd9;
    }

    .rank-3 {
      color: #edd2c8;
    }

    .rank {
      font-size: 28px;
      color: #999;
    }

    .ranking-text {
      font-size: 30px;
      color: #ff6600;
      font-weight: 500;
    }

    .rank-text-point {
      font-size: 24px;
      color: #ff6600;
    }

    // .img {
    //   margin       : 0 24px 0 0;
    //   width        : 96px;
    //   height       : 96px;
    //   border-radius: 48px;
    // }
  }
}
