.packageBSalesSalesRankTab {
  .tip {
    background-color: #fff3eb;
    flex-direction: row;
    width: 100vw;
    height: 242px;
    position: relative;
    align-items: center;

    .tip-box {
      padding: 0 32px;
      z-index: 1;

      .text-name {
        font-size: 40px;
        color: #ffffff;
        margin-bottom: 24px;
      }

      .text {
        line-height: 1.5;
        font-size: 24px;
        color: #ffffff;
      }
    }

    .img {
      margin-right: 16px;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;
    }
  }

  .wm-tabs {
    .curr-text {
      color: #ff6600;
    }
  }
}
