.customerGrouponList {
  height: 100vh;
  background-color: #f5f5f5;
  padding: 24px;
  overflow: scroll;
  padding-bottom: 94px;
  padding-bottom: calc(94px + env(safe-area-inset-bottom));

  .down-content {
    flex-direction: row;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.4);
    width: 100% !important;
    align-items: flex-start;
  }

  .bottoms {
    align-items: center;
    padding-bottom: 24px;
  }

  .no-more {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.4);
    padding: 24px 0;
    text-align: center;
  }

  .spu-item {
    margin-bottom: 0;
  }

  .words {
    font-weight: 500;
  }
}
