.coupon__header {
  height: 72px;
  padding: 0 32px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #fff;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  top: 0;

  .coupon-type {
    flex-direction: row;
    flex: 1;

    .curr-text {
      font-weight: 500;
      color: #ff6600;
    }

    .down-img {
      width: 24px;
      height: 24px;
      margin-left: 4px;
    }
  }

  .navText {
    font-size: 24px;
    color: #000000;
    font-weight: 500;
  }
}
