{
  "extends": ["taro/react"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-shadow": 1,
    "import/first": 1,
    "react/sort-comp":"off",
  }
}
