.gift_card_bottom_height{
  height: 110px;
  width: 100%;
  background-color: transparent;
  flex-shrink: 0;
}
.gift_card_bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 20px 24px;
  background: #fff;
  z-index: 9;
  .btn {
    color: #fff;
    width: 100%;
    background: linear-gradient(90deg, var(--linearFrom) 0%, var(--linearTo) 100%);
    border-radius: 36px;
    font-weight: 500;
    font-size: 28px;
  }
  .wm-modal .body{
    min-height: 160px;
  }
  .wm-modal .body .header {
    padding-top: 54px;
  }
  .wm-modal .body .content{
    margin-bottom: 30px;
  }
}
