.gift_card_info {
  width: 100%;
  height: 456px;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  &_container {
    position: relative;
    width: calc(100% - 80px);
    height: 354px;
    border-radius: 24px;

    margin: 56px 40px;
  }
  &_content {
    position: absolute;
    width: 100%;
    padding: 32px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    display: flex;
    border-radius: 24px;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 28px -8px #d7d7d7;

    &_card_seal {
      position: absolute;
      top: 96px;
      right: 24px;
      width: 144px;
      height: 144px;
      z-index: 2;
    }
    &_card_texture {
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 24px;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 2;
    }
  }
  &_name {
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
    margin-bottom: 16px;
  }
  &_parValue {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 20px;
  }
  &_value {
    font-size: 40px;
    font-weight: 500;
    color: #ffffff;
  }
  &_value_text {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
  }
  &_bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  &_code {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
  }
  &_time {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    text-align: right;
  }
}
