.material__box {
  height: 88px;

  .container {
    height: 88px;
    background-color: #fff;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 999;

    .bar {
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .nav {
        height: 88px;
        align-items: center;
        justify-content: center;
        position: relative;

        .tabitem {
          color: #000;
          font-size: 24px;
          margin-top: 30px;
        }

        .itemSelected {
          color: #ff6600;
          font-weight: 500;
        }

        .active {
          margin-top: 12px;
          width: 100%;
          align-items: center;
        }

        .activeLine {
          width: 48px;
          height: 4px;
          // background-color: #ff6600;
          border-radius: 2px;
          background-image: linear-gradient(to right, #ff8400, #ff4d00);
        }

        .noActiveLine {
          width: 48px;
          height: 4px;
          background-color: #ffffff;
        }
      }
    }
  }
}
