.mini_launch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  .iconf {
    margin-top: 216px;
  }
  .mini {
    margin-top: 216px;
    width: 480px;
    height: 140px;
  }
  .normal-text {
    margin-top: 56px;
    font-size: 30px;
    color: #444;
    line-height: 56px;
  }
}
.open-launch-mini-text {
  margin-top: 56px;
  font-size: 36px;
  width: 430px;
  text-align: center;
  color: var(--textColor);
  line-height: 72px;
  border-radius: 36px;
  background: linear-gradient(90deg, var(--linearFrom), var(--linearTo));
  border: none;
  outline: none;
}