@import url('@/assets/style/theme.less');
@import url('@/assets/style/mixin.less');

.spikeHome__wrapper {
  background-color: #f5f5f5;
  height: 100vh;

  div {
    flex-shrink: 0;
  }

  .spikeHome {
    visibility: visible;
    height: auto;

    .top-back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: @primary-color;
      height: 104px;
      // border-radius: 0 0 36px 36px;
    }

    .nav {
      width: 100vw;
      background-color: @primary-color;
    }

    .at-tab-bar {
      flex-direction: row;
      position: fixed;
      bottom: 0;
      height: 160px;
    }
  }

  .spikeHome__hide {
    display: none;
    height: 0;
  }
}
