.ske-store-skeContainer {
  background: #fff;
  padding: 24px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  overflow-y: scroll;
}
.ske-store-skeList {
  width: 100vw;
  height: 100vh;
}
.ske-store-skeItem {
  width: 100vw;
  height: 152px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  flex-direction: row;

  .ske-store-skeItemLeft {
    width: 128px;
    height: 128px;
    background-color: #f5f5f5;
    margin-right: 16px;
  }

  .ske-store-skeItemRight {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .ske-store-skeItemLineBox {
      .ske-store-skeSqure1 {
        width: 230px;
        height: 28px;
      }
  
      .ske-store-skeSqure2 {
        width: 386px;
        height: 24px;
        margin: 16px 0;
      }
  
      .ske-store-skeSqure3 {
        width: 120px;
        height: 28px;
      }
    }

    .ske-store-skeRightBtn {
      width: 88px;
      height: 48px;
      margin-left: 84px;
    }
  }
}
.skeColor {
  background-color: #f5f5f5;
}
