
  .packageBDistributionMyCustomerHeader {
    height: 60px;
    padding: 0 24px;
    align-items: flex-end;
    // background-color: #fff3eb;
    background-color: #ffffff;
    justify-content: center;

    .salesC-right {
      flex-direction: row;
      width: 112px;
      height: 40px;
      background: linear-gradient(90deg, rgba(255, 136, 0, 1) 0%, rgba(255, 77, 0, 1) 100%);
      border-radius: 20px;
      font-size: 20px;
      color: #ffffff;
      align-items: center;
      justify-content: center;

      .arrowImg {
        width: 24px;
        height: 24px;
      }
    }
  }

