cover-view {
  display: flex;
  flex-direction: column;
}

.wm-navigator {
  .place-holder {
    height: 60px;
  }

  .tool-bar {
    height: 40px;
  }

  .title-bar {
    height: 100px;
    flex-direction: row;
  }
}
