.carinfo {
  // padding: 0px 51px 100px 51px;
  background: transparent;
  letter-spacing: 4px;
  flex: 1;
  position: absolute;
  right: 0;
  z-index: 5;
  top: 30px;

  width: 100%;

  .car-info {
    // margin-bottom: 27px;
    .form-info {
      // height: 175px;
      // padding-top: 26px;
      box-sizing: content-box;
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      // border-bottom: 2px solid #e6e6e6;
      position: relative;

      .picker-int {
        width: 100%;
        height: 75px;
      }

      .carNum-prompt {
        position: absolute;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        color: red;
        font-size: 24px;
        right: 0;
        bottom: -40px;
      }

      .frameNum-prompt {
        position: absolute;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        color: red;
        font-size: 24px;
        right: 0;
        bottom: -40px;
      }

      .engineNum-prompt {
        position: absolute;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        color: red;
        font-size: 24px;
        right: 0;
        bottom: -40px;
      }

      .owner-prompt {
        position: absolute;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        color: red;
        font-size: 24px;
        right: 0;
        bottom: -40px;
      }

      .ID-prompt {
        position: absolute;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        color: red;
        font-size: 24px;
        right: 0;
        bottom: -40px;
      }
    }
  }
}
