.send-code {

  // padding-right: 20px;
  .send-text {
    font-size: 28px;
    color: #ff6600;
    font-weight: bold;
    // width: 150px;
  }

  .number {
    font-size: 28px;
    color: #999;
  }

  &.grey {
    width: 160px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #EEEEEE;
    align-items: center;
    justify-content: center;

    .send-text {
      font-size: 24px;
      font-weight: 400;
      color: #999999;
    }
    .number {
      font-size: 24px;
    }
  }
}