.goods-picture {
  min-width: 160px;
  min-height: 160px;
  width: 160px;
  height: 160px;
  border-radius: 8px;
  margin-right: 14px;
}

.no-goods-picture {
  position: relative;
  min-width: 160px;
  min-height: 160px;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  margin-right: 14px;
  overflow: hidden;
}

.pic-disabled {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.no-goods-con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 104px;
  border-radius: 52px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 0%, rgba(179, 179, 179, 0.4) 100%);
}

.no-goods-con-text {
  text-align: center;
  font-size: 28px;
  color: #fff;
}
