

.restriction {
  padding: 16px;
  margin-top:20px;
  background: rgba(255, 102, 0, 0.08);
  border-radius: 8px;
  flex-direction: row;
  align-items: center;
  .text {
    margin-left: 8px;
    font-size: 24px;
    font-weight: 400;
    color: #ff6600;
    line-height: 24px;
  }
}