.storeItemFromc {
  display: block;
  background-color: #fff;
  padding-bottom: 24px;
  border-radius: 12px;
}

.storeItem {
  display: block;
  background-color: #fff;
  padding: 32px 0 24px;
  border-radius: 12px;
  margin-top: 24px;
  margin-bottom: 24px;
  // margin-bottom: 24px;
  // .checks-view {
  //   position: relative;
  //   width: 35px;
  //   margin-right: 24px;

  //   .checks-area {
  //     position: absolute;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     top: -20px;
  //     left: -20px;
  //     width: 80px;
  //     height: 80px;
  //   }
  // }
  .checks-image {
    width: 40px;
    height: 40px;
  }

  .store-con-noEdit {
    width: 100vw !important;
  }

  .store-header-con {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
  }

  .store-header-con-bottom {
    flex-grow: 1;
    height: 2px;
    transform-origin: left center;
    transform: scale(1, 0.5);
    margin: 0 24px;
    background-color: #ebebeb;
  }

  .store-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // margin-bottom: 12px;
    padding: 0 24px;
  }

  .store-header-content {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
    //margin-left: 24px;
  }

  .store-header-left {
    display: flex;
    flex-direction: row;
    align-items: center;

    .store-type {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 56px;
      height: 32px;
      background: linear-gradient(90deg, rgba(255, 136, 0, 1) 0%, rgba(255, 77, 0, 1) 100%);
      border-radius: 4px;
    }

    .store-name {
      font-size: 28px;
      color: #000;
      // width: 400px;
      // width: 60vw;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-left: 8px;
      line-height: normal;
    }

    .store-type-text {
      color: #fff;
      font-size: 20px;
    }
  }

  .store-header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 32px;
    background: rgba(255, 102, 0, 0.06);
    border-radius: 16px;
  }

  .coupon-text {
    color: #f60;
    font-size: 20px;
    font-weight: bold;
  }

  .wm-stepper {
    .reduce-box {
      width: 40px;
    }
    .add-box {
      width: 40px;
    }
    .input {
      width: 60px;
    }
  }
}

.salesPromotionBorder {
  flex-grow: 1;
  height: 2px;
  transform-origin: left center;
  transform: scale(1, 0.5);
  margin: 32px 24px 0 24px;
  background-color: #ebebeb;
}

.shopCartC-storeItem {
  border-radius: 0;
  margin-bottom: 0;
  padding: 0;
  padding-bottom: 24px;
}
