.accountInfo {
  padding: 0 40px 40px;
  //未通过审核样式
  .informat {
    align-items: center;
    margin-bottom: 72px;

    .perfect-info {
      margin-top: 106px;

      .perfect-img {
        width: 96px;
        height: 96px;
      }
    }

    .text-perfect {
      width: 252px;
      text-align: center;
      font-size: 28px;
      color: rgba(0, 0, 0, 0.8);
      line-height: 44px;
      margin-top: 24px;
    }

    .success {
      width: 96px;
      height: 96px;
      margin-top: 80px;
    }

    .text1 {
      font-size: 28px;
      color: #333;
      font-weight: 500;
      margin: 32px 0 24px;
    }

    .reason-contain {
      flex-direction: row;
      margin-bottom: 20px;

      .text2 {
        font-size: 28px;
        color: #999;
      }

      .high {
        width: 80%;
        font-size: 28px;
        color: #ff6600;
        word-break: break-all;
      }
    }

    .text3 {
      font-size: 28px;
      color: #999;
    }
  }
  // 账户信息样式
  .form-info {
    .form-input {
      flex-direction: row;
      align-items: center;
      padding: 32px 0;
      border-bottom: 1px solid #e6e6e6;
      position: relative;

      .xing {
        font-size: 28px;
        color: #fff;
      }

      .require {
        color: #ff6600;
      }

      .label {
        font-size: 28px;
        color: #333;
        min-width: 120px;
        margin-right: 20px;
      }

      .int {
        flex: 1;
        font-size: 28px;
        color: #333;
      }

      .arrow {
        position: absolute;
        right: 0;
        width: 24px;
        height: 24px;
      }

      .picker {
        flex-direction: row;
        align-items: center;
        flex: 1;

        div:first-child {
          flex: 1;
        }

        .picker-view {
          flex-direction: row;
          align-items: center;

          .arrow-picker {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }

  .form-info .weui-input::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
  //按钮样式
  .account-submit-btn {
    flex: 1;
    height: 72px;
    background: linear-gradient(90deg, rgba(255, 136, 0, 1) 0%, rgba(255, 77, 0, 1) 100%);
    border-radius: 47px;
    font-size: 28px;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-weight: bold;
    padding: 22px 0;
  }
}

.int-placeholder {
  color: rgba(0, 0, 0, 0.4);
  -webkit-text-fill-color: rgba(0, 0, 0, 0.4);
}

// H5css
.weui-picker__hd,
.weui-picker__bd {
  flex-direction: row;
}
