.loginSuccess {
  align-items: center;
  background: #fff;
  height: 100vh;

  .success {
    width: 96px;
    height: 96px;
    margin-top: 80px;
  }

  .text1 {
    font-size: 32px;
    color: #333;
    font-weight: 500;
    margin: 32px 0 24px;
  }

  .text2 {
    font-size: 28px;
    color: #999;
    line-height: 44px;
    width: 340px;
    text-align: center;
  }
}
