.reapyList {
  padding: 24px;

  .pay-item {
    display: flex;
    padding: 0 24px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 128px;
    background: rgba(255, 255, 255, 1);
    border-radius: 12px;
    margin-bottom: 24px;

    .left-pay {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .pay-title {
        font-size: 28px;
        padding-left: 24px;
      }

      .pay-icon {
        width: 48px;
        height: 48px;
      }
    }

    .right-pay {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      .money-title {
        color: #999;
        font-size: 24px;
      }

      .money-num {
        color: #ff6600;
        font-size: 24px;
      }

      .arrow-icon {
        width: 24px;
        height: 24px;
      }
    }
  }

  .bank-pay-list {
    margin-top: 24px;
  }
}
