.header {
  .invoice {
    display: flex;

    &-header {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 24px;
      height: 88px;
      background: #fff6f0;
    }

    &-icon {
      height: 32px;
      width: 32px;
    }

    &-tips {
      font-size: 24px;
      padding-left: 16px;
      color: #ff6600;
    }
  }

  .price {
    display: flex;

    &-icon {
      font-size: 24px;
      color: #ff6600;
      font-weight: bold;
    }

    &-num {
      font-size: 48px;
      color: #ff6600;
      font-weight: bold;
    }

    &-con {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 184px;
      background-color: #fff;
    }

    &-title {
      font-size: 24px;
      color: #333;
    }

    &-num-con {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin-top: 20px;
    }
  }
}
