.buyStatus {
  background: #fff;
  padding: 32px 0;
  margin-top: 24px;
  flex-shrink: 0;

  .buy-info-rule {
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
    font-size: 28px;
    color: #333;
    font-weight: bold;
    margin-bottom: 32px;

    .tag__image {
      min-width: 32px;
      width: 32px;
      height: 32px;
      margin-left: 16px;
    }

    // .taro-text {
    //   margin-right: 15px;
    // }
  }

  .line-state {
    width: 178px;
    height: 16px;
    padding: 0 24px;
    background-color: #fff;
    display: flex;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;

    .step-line {
      width: 2px;
      height: 16px;
      background-color: rgba(230, 230, 230, 1);
    }
  }

  .buy-step {
    display: flex;
    flex-direction: row;
    padding: 0 24px;

    .buy-step-type {
      width: 128px;
      height: 36px;
      background: rgb(245, 245, 245);
      border-radius: 24px;
      font-size: 20px;
      text-align: center;
      line-height: 38px;
      color: rgba(0, 0, 0, 0.4);
    }

    .buy-step-date {
      font-size: 24px;
      color: rgba(0, 0, 0, 0.8);
      margin-left: 16px;
    }
  }

  .buy-step-check {
    .buy-step-type {
      background: linear-gradient(90deg, rgba(255, 136, 0, 1) 0%, rgba(255, 77, 0, 1) 100%) !important;
      color: #fff !important;
    }
  }

  .address-picker-container {
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    visibility: hidden;

    span {
      color: #333333;
    }

    .picker-content {
      position: absolute;
      //transform: translateY(150%);
      //transition: all 0.4s ease;
      .picker-view-wrap {
        width: 640px;
        height: 960px;
        align-items: center;
        padding: 40px;
        background: #ffffff;
        border-radius: 16px;

        .rule {
          align-items: center;
          font-size: 32px;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.8);
          margin-bottom: 36px;
        }

        .text {
          font-size: 28px;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.8);
          line-height: 52px;
        }
      }
    }

    .cancel {
      margin-top: 32px;
      align-items: center;

      .close {
        width: 80px;
        height: 80px;
      }
    }
  }

  .show-picker {
    visibility: visible;

    .picker-content {
      transform: translateY(0);
      transition: all 0.4s ease;
    }
  }
}
