.goodsInfo {
  padding: 40px 24px 32px;
  background: #fff;
  width: 100%;
  margin-bottom: 24px;
  flex-shrink: 0;

  .no-goods-price {
    flex-direction: row;

    .up-price {
      flex-direction: row;
      align-items: flex-end;
      margin-right: 8px;

      .unit1 {
        color: #ff6600;
        font-size: 20px;
        font-weight: bold;
      }

      .price1 {
        color: #ff6600;
        font-size: 48px;
        font-weight: bold;
      }
    }

    // .down-nums {
    //   color: #999;
    //   font-size: 20px;
    // }
    .old-price {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.4);
      text-decoration: line-through;
      position: relative;
      top: 17px;
    }
  }

  .price1 {
    font-size: 36px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .orange {
      color: #ff6600;
    }

    .large-size {
      font-size: 48px;
    }

    .small-size {
      font-size: 20px;
      margin-bottom: 4px;
    }

    .mkt-price {
      font-weight: 400;
      color: rgba(0, 0, 0, 0.4);
      text-decoration: line-through;
      margin-left: 12px;
    }
  }

  .price-collect {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .price-presale {
    flex-direction: row;
    height: 28px;
    align-items: center;
    margin-top: 20px;

    .tit {
      color: rgba(255, 102, 0, 1);
      font-size: 20px;
      text-align: left;
      border-radius: 4px;
      background-color: rgba(255, 243, 235, 1);
      padding: 0 10px 5px 10px;
      font-weight: 400;
      line-height: 20px;
    }

    .tit-blod {
      color: rgba(255, 102, 0, 1);
      font-size: 20px;
      font-weight: 900;
      line-height: 20px;
    }
  }

  // 秒杀 已抢
  .seckill-item {
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;

    .text {
      font-size: 24px;
      color: #999;

      .num {
        font-size: 24px;
        color: #ff6600;
      }
    }

    .progress {
      width: 192px;
      height: 16px;
      background: rgba(255, 231, 215, 1);
      border-radius: 8px;
      position: relative;
      margin-left: 16px;

      .high {
        height: 16px;
        background: linear-gradient(359deg, rgba(255, 136, 0, 1) 0%, rgba(255, 77, 0, 1) 100%);
        border-radius: 8px;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  .goods-label-box {
    margin: 20px 0 0;
    flex-direction: row;
    flex-wrap: wrap;

    .goods-label {
      height: 28px;
      background: linear-gradient(90deg, #ff6666 0%, #ff0a0a 100%);
      border-radius: 4px;
      font-size: 20px;
      font-weight: 500;
      color: #ffffff;
      line-height: 20px;
      padding: 4px 8px;
      margin: 0 8px 16px 0;
      white-space: nowrap;
    }
    //阶梯价 折扣
    .vip-content {
      align-items: center;
      margin-bottom: 10px;

      .l-tag {
        height: 28px;
        background: linear-gradient(90deg, rgba(255, 136, 0, 1) 0%, rgba(255, 77, 0, 1) 100%);
        border-radius: 4px;
        padding: 0 8px;
        margin-right: 8px;
        justify-content: center;
        align-items: center;

        .tag-text {
          color: #fff;
          font-size: 20px;
          font-weight: bold;
        }
      }

      .marketing {
        height: 28px;
        background: linear-gradient(90deg, rgba(255, 136, 0, 1) 0%, rgba(255, 77, 0, 1) 100%);
        border-radius: 4px;
        padding: 0 8px;
        margin-right: 8px;
        align-items: center;
        justify-content: center;

        .market-text {
          font-size: 20px;
          color: #fff;
          font-weight: bold;
        }
      }

      .vip-info {
        flex-direction: row;
        align-items: center;

        .svip {
          height: 28px;
          background: #333;
          border-radius: 4px 0 0 4px;
          padding: 0 8px;

          .svip-text {
            color: #fff;
            font-size: 24px;
            transform: scale(0.833);
          }
        }

        .dist {
          height: 28px;
          background: #ffc934;
          border-radius: 4px;
          padding: 0 8px;

          .dist-text {
            color: #333;
            font-size: 24px;
            transform: scale(0.833);
          }
        }
      }
    }
  }
}
