.presale {
  width: 100%;
  background: linear-gradient(90deg, rgba(255, 132, 0, 1) 0%, rgba(255, 77, 0, 1) 100%);
  // border-radius: 16px 16px 0 0;
  padding: 24px;
  justify-content: center;
  flex-shrink: 0;

  &-top {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }

  &-bottom {
    font-size: 20px;
    color: #fff;
    text-align: right;
    margin-left: 20px;
    opacity: 0.9;
  }

  .l-logo {
    width: 104px;
    height: 64px;
  }

  .left {
    color: #fff;
    font-size: 28px;
  }

  .middle {
    font-size: 24px;
    color: #fff;
    // margin-right: 30px;
    margin: auto;
    padding-right: 30rpx;
    display: flex;
    align-items: center;
  }

  .right {
    flex-direction: row;

    .group-name {
      font-size: 24px;
      color: #fff;
      margin-bottom: 16px;
    }
  }

  .presale-bottom {
    margin-top: 8px;
  }
}
