.priceWholesale {
  //不允许独立设价
  .scroll-view-box {
    display: flex;
    flex-direction: row;
    margin-left: -24px;

    .no-price-box {
      flex-direction: row;
      align-items: center;
      // border: 1px solid red;
      padding-left: 24px;
      border-right: 1px solid #eee;

      .no-goods-wholeSale-price {
        .up-price {
          flex-direction: row;
          align-items: flex-end;
          margin-right: 24px;

          .unit1 {
            color: #ff6600;
            font-size: 20px;
            font-weight: bold;
          }

          .price1 {
            color: #ff6600;
            font-size: 36px;
            font-weight: bold;
          }
        }

        .down-nums {
          color: #999;
          font-size: 20px;
        }
      }
    }
  }
  // 允许独立设价
  .price {
    flex-direction: row;
    align-items: flex-end;

    .now-price {
      font-size: 41px;
      color: #ff6600;
      margin-right: 8px;
      font-weight: bold;

      .unit {
        font-size: 20px;
        color: #ff6600;
      }
    }

    .old-price {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.4);
      text-decoration: line-through;
    }
  }
}

.point-state {
  color: #ff6600;
}

.point-title {
  color: #ff6600;
  font-size: 24px;
}
