.wm-loading-box {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 112px;
  height: 112px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 99;
}

.wm-loading-img {
  width: 112px;
  height: 112px;
}
