.money-footer ,
.footer-con {
  position: fixed !important;
  bottom: env(safe-area-inset-bottom);
}

.social-index {
  .shopCartBox {
    height: calc(100vh - 110px - env(safe-area-inset-bottom));
  }
}
