.ske-index-skeContainer {
  position: fixed;
  top: 0;
  left: 0;
  flex: 1;
  background-color: #fff;
  width: 100vw;
  z-index: 9999;
  height: 100vh;
}

.ske-index-skeSwiper {
  height: 57.06vw;
  background-color: #ebebeb;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.ske-index-dot {
  width: 1.67vw;
  height: 1.67vw;
  border-radius: 50%;
  background-color: #feffff;
  margin-right: 1.67vw;
  margin-bottom: 2.67vw;
  opacity: 0.39;
}

.ske-index-skeFunctionList {
  padding: 6.4vw 6.4vw 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100vw;
  height: 55.47vw;
}

.ske-index-functionItem {
  margin-bottom: 6.4vw;
  margin-right: 2.67vw;
}

.ske-index-functionItem:nth-child(5n) {
  margin-right: 0;
}

.ske-index-functionTop {
  width: 12.8vw;
  height: 12.8vw;
  margin-bottom: 2.4vw;
}

.skeColor {
  background-color: #f5f5f5;
}

.ske-index-functionBottom {
  width: 12.8vw;
  height: 3.2vw;
}

.ske-index-banner {
  width: 100vw;
  height: 10.67vw;
  align-self: center;
  margin-bottom: 6.4vw;
}

.ske-index-title {
  width: 17.07vw;
  height: 4.27vw;
  margin-left: 3.2vw;
  margin-bottom: 3.2vw;
}

.ske-index-content {
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 45.87vw;
  padding-left: 3.2vw;
  padding-right: 3.2vw;
}

.ske-index-contentLeft {
  width: calc(100vw * 0.458);
  height: 45.87vw;
}

.ske-index-contentRight {
  justify-content: space-between;
}

.ske-index-contentTop {
  width: calc(100vw * 0.456);
  height: 21.87vw;
}

.skeMainList {
  padding: 0 24px;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  margin-top: 48px;
}

.skeListLeft {
  width: 176px;
  height: 176px;
}

.skeListRight {
  align-content: space-between;
  width: 66vw;
}

.skeListTop {
  height: 64px;
  margin-bottom: 16px;
}

.skeListMiddle {
  height: 24px;
  margin-bottom: 32px;
}

.skeListBottom {
  flex-direction: row;
  justify-content: space-between;
}

.skeListBottomLine {
  width: 168px;
  height: 40px;
}
