.myCustomer {
  margin: 0 24px;
  border-radius: 12px;
  background-color: #ffffff;
  padding: 40px 0 20px 0;

  .bar {
    flex-direction: row;
    margin: 0 32px 20px 32px;
    justify-content: space-between;
  }

  .right {
    flex-direction: row;
    margin: 4px 0;
  }

  .img {
    margin: 0 0 0 8px;
    width: 24px;
    height: 24px;
  }

  .numbers {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 70px;

    .item {
      background-color: #ffffff;
      padding: 20px 0;
      align-items: center;
    }

    .num {
      margin: 0 0 16px 0;
      font-size: 32px;
      color: #ff6600;
    }
  }
}
