.salesRuleModal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;

  .modalBox {
    width: 85.3%;
    min-height: 80px;
    max-height: 80%;
    background-color: #fff;
    z-index: 9999;
    border-radius: 16px;
    position: relative;
    top: 23%;

    .contentBox {
      padding: 64px 40px;
      align-items: center;
      max-height: 60vh;
      overflow-y: scroll;

      .tipIcon {
        width: 48px;
        height: 48px;
        margin-bottom: 24px;
      }

      .title {
        font-size: 32px;
        margin-bottom: 24px;
      }

      .tip-info {
        font-size: 28px;
        text-align: center;
        line-height: 44px;
      }

      .resson {
        font-size: 28px;
        color: #ff0022;
        margin-top: 20px;
      }
    }

    .modal-bt {
      height: 88px;
      width: 100%;
      text-align: center;
      justify-content: center;
      font-size: 32px;
      border-top: 1px solid #e6e6e6;
    }

    .close {
      width: 80px;
      height: 80px;
      position: absolute;
      bottom: -120px;
      left: calc(50% - 40px);
    }
  }
}
