.salesFriend {
  margin: -92px 24px 24px 24px;
  border-radius: 12px;
  background-color: #ffffff;
  padding: 36px 0 0 0;

  .deposit-btn {
    background-image: linear-gradient(90deg, #ffeedb, #ffdfc7);
    border: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    background-color: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    span {
      color: #985b31;
    }
  }

  .deposit-btn::after {
    border: none;
  }

  .bar {
    margin: 0 32px 18px 32px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .left,
    .right {
      flex-direction: row;
      align-items: center;
    }

    .eye {
      margin-left: 16px;
      width: 40px;
      height: 40px;
    }
  }

  .numbers {
    margin: 0 24px 18px 24px;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;

    .item {
      background-color: #ffffff;
      padding: 20px 0;
      align-items: center;
    }

    .number {
      margin: 0 0 16px 0;
      font-size: 32px;
      color: #ff6600;
    }
  }

  .block {
    height: 80px;
    background-image: linear-gradient(90deg, #ffeedb, #ffdfc7);
    padding: 0 32px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .left {
      flex-direction: row;
      align-items: center;
    }

    .right {
      flex-direction: row;
      align-items: center;
    }

    text,
    taro-text-core {
      color: #985b31;
      font-weight: 500;
    }
  }

  .arrow {
    margin-left: 8px;
    width: 24px;
    height: 24px;
  }
}
