.mb10 {
  background-color: #fff;
  margin-bottom: 24px;
  border-radius: 10px;

  .address-info {
    border-radius: 10px;
    background: #fff;
    padding: 40px 24px;
    display: flex;
    justify-content: flex-start;

    .address1 {
      font-weight: 500;
      font-size: 28px;
      margin-bottom: 8px;
      word-break: break-all;
    }

    .tname {
      display: flex;
      flex-direction: row;

      .name {
        margin-right: 15px;
        color: #00000066;
        font-size: 28px;
      }

      .phone {
        color: #00000066;
        font-size: 28px;

        &:first-child {
          margin-right: 16px;
        }
      }
    }
  }

  .seperate_line {
    border-radius: 10px 10px 0 0;
    display: block;
    height: 8px;
    background-image: url('../img/addBg.png');
    background-size: 100% 100%;
  }
}
