.zt-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    background-color: #FFF;
    border-radius: 16px;
    padding: 40px 12px;

    .code-title {
        margin-bottom: 26px;
        font-size: 28px;
        font-weight: 500;
        color: rgba(0,0,0,0.8);
        width: calc(100vw - 96px);
    }

    .code-text {
        color: rgba(0,0,0,0.8);
        font-size: 40px;
        font-weight: 500;
        margin-top: 26px;
    }

    .code-tip {
        margin-top: 16px;
        color: rgba(0,0,0,0.4);
        font-size: 24px;
    }
}