.collection-box {
  position: relative;
  padding: 0 24px;
  margin-top: -64px;
  z-index: 100;
  margin-bottom: 24px;

  .collection-tab {
    flex-direction: row;
    align-items: center;
    height: 152px;
    background-color: #fff;
    border-radius: 12px;

    .collection-item {
      flex: 1;
      align-items: center;

      .tab-name {
        font-size: 24px;
        color: rgba(0, 0, 0, 0.4);
      }

      .tab-num {
        font-size: 32px;
        font-weight: bold;
        color: #ff6600;
        margin-bottom: 16px;
      }
    }
  }
}
