.detail {
  padding: 0 24px;

  .detail_box {
    width: 100%;
    background: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #ebebeb;
    padding: 32px 0 32px 0;

    .left-spn {
      margin-bottom: 10px;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;

      .black-text {
        font-size: 28px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.8);
      }

      .money {
        font-size: 32px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.8);
      }

      .red-color {
        font-size: 32px;
        font-weight: 500;
        color: rgba(255, 102, 0, 1);
      }
    }

    .right-spn {
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }

    .gray-text {
      font-size: 24px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.4);
    }
  }
}
