@import url('assets/style/theme.less');
@import url('assets/style/mixin.less');

.receive-address__wrapper {
  height: 100vh;

  .at-swipe-action__option:last-child {
    .option__text {
      color: #fff;
    }
  }

  .list {
    height: 90vh;
  }

  .status {
    font-size: 24px;
    color: #a3a3a3;
    text-align: center;
    padding: 24px 0 30px 0;
  }

  .btn_box {
    padding-bottom: env(safe-area-inset-bottom);
    background: #ffffff;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99;
    width: 100%;
  }

  .register-btn {
    padding: 24px;
    // width: 100%;
    align-items: center;
    border-top: 1px solid #e6e6e6;

    .infos {
      color: rgba(0, 0, 0, 0.4);
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  .go {
    align-items: center;
    padding-top: 25%;
  }

  .go_top {
    font-size: 24px;
    color: #000000;
    padding: 15px 30px;
    border-radius: 30px;
    border: 1px solid rgba(230, 230, 230, 1);
    margin-top: 20px;
  }

  .btn-primary {
    background: linear-gradient(90deg, rgba(255, 132, 0, 1) 0%, rgba(255, 77, 0, 1) 100%);
    font-size: 28px;
    width: 100%;
    height: 72px;
    font-weight: 500;
    border-radius: 40px;
    border: none;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;

    .add {
      margin-right: 16px;
      margin-bottom: 2px;
      width: 32px;
      height: 34px;
    }
  }

  .top {
    flex: 1;
    padding: 32px 24px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;

    .top_1 {
      flex: 1;
      max-width: calc(100% - 72px);
    }

    .edit_1 {
      margin-left: 32px;
      width: 40px;
      height: 40px;

      .edit {
        width: 40px;
        height: 40px;
      }
    }

    .top_2 {
      flex-direction: row;
      align-items: center;

      .name {
        font-size: 32px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.8);
        margin-right: 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        max-width: 355px;
      }

      .phone {
        font-size: 28px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.8);
        margin-right: 16px;
      }

      .mo-ren {
        background: linear-gradient(90deg, rgba(255, 136, 0, 1) 0%, rgba(255, 77, 0, 1) 100%);
        border-radius: 4px;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        font-size: 20px;
        padding: 0 5px;
      }
    }

    .top_3 {
      flex: 1;
      font-size: 24px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.4);
      line-height: 35px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .remindTip {
      width: 35%;
      height: 40px;
      margin-top: 10px;
      background: rgba(255, 243, 236, 1);
      border-radius: 36px;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .remindIcon {
        width: 28px;
        height: 28px;
      }

      .remindText {
        font-size: 24px;
        transform: scale(0.833);
        color: rgba(255, 102, 0, 1);
        line-height: 24px;
      }
    }
  }

  .top_2 {
    padding: 15px 0;

    .wan_sh {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      .img {
        width: 32px;
        height: 32px;
        margin-right: 16px;
      }

      .text_img {
        font-size: 24px;
        color: #ff6600;
      }
    }
  }

  .at-swipe-action__options {
    flex-direction: row;
  }

  // .wm-swipe-wrap {
  //   margin: 24px;
  //   background-color: #fff;
  //   border-radius: 16px;
  //   overflow: hidden;
  //   display: block;
  // }
  .wm-swipe-wrap {
    .at-swipe-action__option {
      height: 100% !important;
    }
  }

  .at-swipe-action__options {
    flex-direction: row;
  }

  .status-address {
    padding-bottom: 55px;
  }
}
