.account-item {
  flex-direction: row;
  padding: 40px 0 40px 32px;
  align-items: center;
  height: 200px;

  .left-wrap {
    width: calc(100% - 72px);

    .title {
      word-break: break-word;
      font-size: 28px;
      font-weight: 500;
    }

    .next-title {
      color: rgba(0, 0, 0, 0.4);
      font-size: 24px;
      padding: 16px 0 32px 0;
      font-weight: bold;
    }

    .car-num {
      font-size: 36px;
      font-weight: bold;
    }
  }

  .modify-btn {
    .modify-icon {
      width: 40px;
      height: 40px;
    }
  }
}
