.goods-list-skeContainer-big {
  background-color: #f5f5f5;
  padding: 24px;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 100;
  overflow-y: scroll;
  display: block;
}

.skeColor-big {
  background-color: #f5f5f5;
}

.skeList-big {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skeItem-big {
  margin-bottom: 24px;
  border-radius: 12px;
  height: 632px;
  overflow: hidden;
  width: 45vw;
}

.skeItemTop-big {
  background-color: #ebebeb;
  // width:screenWidth*0.34
  height: 340px;
  width: 340px;
}

.skeItemBottom-big {
  // width:screenWidth*0.53
  background-color: #fff;
  padding: 20px;
  padding-top: 24px;
}

.skeItemTitle-big {
  // width:211
  // width:screenWidth*0.4
  margin-bottom: 16px;
  height: 24px;
}

.skeItemSpec-big {
  width: 104px;
  height: 32px;
  margin-bottom: 16px;
}

.skeItemLineBox-big {
  flex-direction: row;
  margin-bottom: 16px;
}

.skeItemLineBox1-big {
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}

.skeSqure1-big {
  width: 76px;
  height: 28px;
  margin-right: 8px;
}

.skeSqure2-big {
  width: 56px;
  height: 28px;
  margin-right: 8px;
}

.skeSqure3-big {
  width: 64px;
  height: 20px;
  margin-right: 8px;
}

.skeSqure4-big {
  width: 140px;
  height: 40px;
}
