.collectionBottom {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 112px;
  padding: 0 24px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;

  .operation {
    flex-direction: row;
  }
}

.bottomX {
  bottom: 68px;
}

.taro-modal__foot {
  flex-direction: row;
}
