.confirmMask {
  .at-modal__footer .at-modal__action {
    display: flex;
    flex-direction: row;
  }

  text,
  textarea {
    line-height: normal;
  }
  taro-button-core{
    white-space: nowrap;
  }
}
