.giftMask {
  padding: 24px;
  background: rgba(255, 255, 255, 1);
  border-radius: 12px;
  margin-top: 24px;
  flex-shrink: 0;

  .gift-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 26px;

    .header-title {
      font-size: 24px;
      font-weight: 600;
    }

    .header-num {
      font-size: 24px;
      color: #ff6600;
      font-weight: 500;
    }
  }

  .skuItem {
    padding: 0;
  }
}
