.shop-cart-mask {
  position: fixed;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  flex-shrink: 0;

  .mask-container {
    position: absolute;
    bottom: 0;
    height: 70vh;
    min-height: 50vh;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 16px 16px 0 0;

    .mask-header {
      width: 100vw;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 96px;
      padding: 0 32px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0 -1px 0 0 rgba(230, 230, 230, 1);
      border-radius: 16px 16px 0 0;
      z-index: 10;
      flex-shrink: 0;

      .header-text {
        flex: 1;
        font-size: 32px;
        text-align: center;
      }

      .close-icon {
        position: absolute;
        right: 32px;
        width: 40px;
        height: 40px;
      }

      .close-img {
        width: 40px;
        height: 40px;
      }
    }

    .mask-con {
      padding: 0 24px 24px;
      overflow-y: auto;

      .gift-bottom-top {
        height: 112px;
      }

      .gift-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 112px;
        padding: 20px 24px;
        background-color: #fff;

        .gift-num-con {
          display: flex;
          flex-direction: row;
          align-items: center;

          .gift-text {
            font-size: 32px;
          }

          .gift-num {
            color: #ff6600;
            font-size: 32px;
          }
        }

        .gift-confirm-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 120px;
          height: 72px;
          background: linear-gradient(90deg, rgba(255, 136, 0, 1) 0%, rgba(255, 77, 0, 1) 100%);
          border-radius: 36px;

          .gift-confirm-text {
            color: #fff;
            font-size: 28px;
            font-weight: 600;
          }
        }

        .gift-confirm-btn-disabled {
          background: linear-gradient(90deg, rgba(216, 216, 216, 1) 0%, rgba(179, 179, 179, 1) 100%) !important;
        }
      }
    }
  }
}
