.payCon {
  display: block;
  background-color: #fff;
  margin-top: 24px;
  padding: 40px 24px 20px 24px;
  border-radius: 16px;

  .order-point-con {
    display: flex;
    flex-direction: row;
    align-items: center;

    .item-input-text {
      line-height: 28px;
    }

    .item-input-price {
      line-height: 28px;
    }
  }

  .point-input {
    text-align: center;
    margin: 0 13px;
    width: 120px;
    height: 48px;
    // font-size: 28px;
    font-size: 24px;
    background: rgba(245, 245, 245, 1);
    border-radius: 12px;

    display: flex;
    align-items: center;
    padding: 0 6px;
  }
}
