.priceCon {
  display: block;
  background-color: #fff;
  margin: 24px 0;
  padding: 40px 24px 20px 24px;
  border-radius: 16px;

  .item-input-price {
    padding: 0 !important;
  }

  .rights-align {
    align-items: flex-end;
  }

  .rights-bottom {
    margin-top: 24px;
  }

  .swellPrice {
    font-weight: 500;
    font-size: 24px;
    color: #ff6600;
    // margin-top: -24px;
  }

  .tailStartTime {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.4);
    margin-top: -24px;
  }
}
