.cardCarousel {
  height: 384px;
  background: linear-gradient(90deg, #ff8400 0%, #ff4d00 100%);
  padding-top: 20px;

  .swiper {
    height: 320px;
    width: 1000px;
    .swiperItem {
      width: 320px;
      height: 320px;
      right: 48px;
    }
  }
}
