.zhiboStatus {
}

.living {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background: linear-gradient(90deg, #ff8400 0%, #ff4d00 100%);
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .livingImgBox {
    margin-right: 8px;

    .livingImg {
      width: 20px;
      height: 20px;
    }
  }

  .text {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    line-height: 1;
    text-align: center;
  }
}

.foreshow {
  .foreshowBackground {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    flex-direction: row;
    padding-right: 16px;

    .foreshowLeft {
      width: 72px;
      height: 40px;
      border-radius: 20px;
      background: linear-gradient(90deg, #6be653 0%, #00c25a 100%);
      color: rgba(255, 255, 255, 1);
      font-size: 20px;
      margin-right: 16px;
      align-items: center;
      justify-content: center;
    }
  }

  .text {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    line-height: 1;
    text-align: center;
  }
}

.lookBack {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // flex: 1;
  .lookBackImgBox {
    margin-right: 8px;

    .lookBackImg {
      width: 20px;
      height: 20px;
    }
  }

  .text {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    line-height: 1;
    text-align: center;
  }
}
