.picture {
  .head {
    height: 96px;
    justify-content: center;
  }

  .block {
    margin-top: 24px;
    background-color: #ffffff;
    padding: 0 16px;
  }

  .black16 {
    margin: 0 0 56px 0;
  }

  .img {
    width: 224px;
    height: 224px;
    border-radius: 12px;
  }

  .black161 {
    margin: 0 8px 56px 8px;
  }

  .title {
    font-size: 32px;
    font-weight: 500;
  }

  .papers {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0 8px 0;
  }

  .paper {
    margin: 0 7px 16px 7px;
    width: 224px;
  }

  .images-viewer {
    .images {
      .item {
        animation: none !important;
      }
    }
  }
}
