.payment {
  .weui-picker__bd {
    display: flex;
    flex-direction: row;
  }

  .weui-picker__hd {
    display: flex;
    flex-direction: row;
  }

  .from-select {
    height: 92px;
    padding: 0 24px;
    background-color: #ffffff;
    flex-direction: row;
    align-items: center;

    .c333 {
      font-weight: 500;
    }

    &.chose-logistics {
      margin: 24px 0;
    }

    .select-label {
      font-size: 28px;
      margin-right: 24px;
    }

    .value {
      font-size: 28px;
      flex: 1;

      .weui-picker__bd {
        display: -webkit-box;
      }
    }

    .arrow {
      width: 24px;
      height: 24px;
    }
  }

  .from-textArea {
    height: 92px;
    background-color: #ffffff;
    padding: 32px 24px;
    flex-direction: row;
    align-items: center;

    .select-label {
      font-size: 28px;
      line-height: normal;
      width: 160px;
    }

    .mess-text {
      font-size: 28px;
      height: 50px;
      // margin-left: 16px;
      padding: 3px 0;
      font-weight: 500;
    }

    input::placeholder {
      font-size: 28px;
      color: #999;
      font-weight: 350;
    }
  }

  .bottom {
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    padding: 20px 24px;
  }
}
