.select_city_city_index {
  width: 42px;
  height: calc(100vh - 50px - 146px);
  position: absolute;
  top: 14px;
  right: 16px;
  background-color: #f9f9f9;
  padding: 36px 0;
  align-items: center;
  border-radius: 24px;

  .city_index_item {
    color: #666666;
    font-size: 22px;
    width: 34px;
    height: 34px;
    align-items: center;
    justify-content: center;
    margin: calc((100vh - 50px - 146px - 64px - 34px * 26) / 52) 0;
  }

  .city_index_item_active {
    background-color: var(--themeColor);
    color: #ffffff;
    border-radius: 50%;
  }

}