.financeEmail {
  .bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 200px;
    padding: 24px;
    background-color: #fff;

    .bottom__info {
      text-align: center;
      font-size: 24px;
      padding-bottom: 24px;
      color: rgba(0, 0, 0, 0.4);
    }

    .add-icon {
      width: 32px;
      height: 32px;
      margin-right: 16px;
    }
  }
}
