.list {
  .email-wrap {
    margin: 24px 24px 0 24px;
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    display: block;
  }

  .account-item {
    padding: 28px 32px;
    flex-direction: row;
    justify-content: space-between;

    .modify-icon {
      width: 40px;
      height: 40px;
    }
  }
}

.at-swipe-action__options .option__text {
  color: #fff;
}
