.exchange-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  .exchange-top {
    height: 408px;
    background: linear-gradient(90deg, var(--linearFrom) 0%, var(--linearTo) 100%);
    align-items: center;
    .top-img {
      margin-top: 40px;
      width: 590px;
      height: 220px;
      background-size: 100% 100%;
    }
  }
  .exchange-form {
    margin-top: -148px;
    padding: 0 40px;
    background-color: #fff;
    border-radius: 24px 24px 0px 0px;
    .form-title {
      display: flex;
      justify-content: center;
      align-items: center;
      .title-text {
        margin-top: 32px;
        font-size: 32px;
        font-weight: 500;
        color: #333;
        line-height: 44px;
      }
    }
    .form-label {
      margin: 38px 0 20px 0;
    }
    .form-input-wrap {
      display: flex;
      justify-content: center;
      height: 88px;
      padding: 0 24px;
      background: #F5F5F5;
      border-radius: 12px;
      .form-input {
        font-size: 30px;
        color: #333;
      }
    }
    .ccc {
      display: flex;
      flex-direction: row;
      align-items: center;
  
      .form-input {
        flex: 1;
      }
    }
    .form-button {
      margin-top: 80px;
      height: 88px;
      background: linear-gradient(90deg, var(--linearFrom) 0%, var(--linearTo) 100%);
      border-radius: 44px;
      justify-content: center;
      align-items: center;
      .button-txt {
        font-size: 32px;
        font-weight: 500;
        color: #fff;
        line-height: 32px;
      }
    }
  }
  .gift-card {
    width: 480px;
    height: 248px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    .card-top {
      display: flex;
      flex-direction: column;
      .card-title {
        font-size: 28px;
        font-weight: 500;
        color: #fff;
        line-height: 40px;
        margin-bottom: 6px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .card-num {
        font-size: 24px;
        color: #fff;
        line-height: 40px;
      }
    }
    .card-time {
      font-size: 20px;
      color: #fff;
      line-height: 24px;
    }
    .card-texture {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-size: 100% 100%;
      padding: 24px;
      border-radius: 20px;
    }
  }
}

