@import url('@/assets/style/theme.less');
@import url('@/assets/style/mixin.less');

.searchHistory {
  .search__top {
    padding: 24px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .searchTitle {
      font-size: 24px;
      color: #999;
      flex: 1;
    }

    .delImg {
      width: 32px;
      height: 32px;
    }
  }

  .historyList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .items {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 56px;
      padding: 0 24px;
      margin-right: 16px;
      margin-bottom: 16px;
      border-radius: 28px;
      background-color: #f5f5f5;

      .text {
        max-width: 168px;
        line-height: 32px;
        color: #333;
        font-size: 24px;
        line-height: 1.5;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .no-more {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 24px 0;
  }

  .empty-box {
    flex: 1;
    align-items: center;
    justify-content: center;
  }
}
