.money-footer,
.footer-con {
  position: fixed !important;
  bottom: calc(100px + env(safe-area-inset-bottom)) !important;
}
.at-tab-bar{
  z-index: 9999;
}
.social-index {
  .shopCartBox {
    height: calc(100vh - 110px - env(safe-area-inset-bottom));
    z-index: 9999;
  }
}
