.skeContainer {
  background: #fff;
  padding: 24px;
  width: 100vw;
  height: calc(100vh - 88px);
  position: absolute;
  top: 0;
}

.skeColor {
  background-color: #f5f5f5;
}

.skeItem {
  flex-direction: row;
  margin-bottom: 24px;
  justify-content: space-between;
}

.skeItemLeft {
  border-radius: 12px;
  background-color: #f5f5f5;
  width: 34vw;
  height: 256px;
}

.skeItemRight {
  // width:screenWidth*0.53
}

.skeItemTitle {
  // width:211
  width: 53vw;

  height: 24px;
  margin-bottom: 8px;
}

.skeItemSpec {
  width: 180px;
  height: 20px;
  margin-top: 8px;
}

.skeItemLineBox {
  flex-direction: row;
  margin-top: 16px;
}

.skeItemLineBox1 {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}

.skeSqure1 {
  width: 76px;
  height: 28px;
  margin-right: 8px;
}

.skeSqure2 {
  width: 56px;
  height: 28px;
  margin-right: 8px;
}

.skeSqure3 {
  width: 64px;
  height: 20px;
  margin-right: 8px;
}

.skeSqure4 {
  width: 102px;
  height: 32px;
}

.skeSqure5 {
  width: 140px;
  height: 40px;
}

.mb14 {
  margin-bottom: 28px;
}
