.enclosure {
  position: relative;
  margin-right: 16px;
  margin-bottom: 16px;
  width: 112px;
  height: 112px;

  &-con-box {
    margin-bottom: 40px;
  }

  &-con {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &-tips {
    font-size: 24px;
    padding-top: 4px;
    color: #999;
    line-height: 32px;
  }

  .pic {
    min-width: 112px;
    min-height: 112px;
    width: 112px;
    height: 112px;
    border-radius: 8px;
  }

  .close-pic {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 32px;
    height: 32px;
  }
}
