.presaleConfirm {
  flex-direction: row;
  height: 88px;
  line-height: 88px;
  background-color: rgba(255, 243, 235, 1);
  padding-left: 24px;
  align-items: center;

  .warning-img {
    width: 48px;
    height: 48px;
    // padding-top: 18px;
  }

  .text {
    color: rgba(255, 102, 0, 1);
    font-size: 24px;
    line-height: 88px;
    margin-left: 10px;
  }
}
