@item-width: calc((74.67vw - 80px) / 6);
@box-width: calc(74.67vw - 80px);

.password-title {
  margin-top: 48px;
  display: block;
  margin-left: 60px;
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.password-input {
  height: @item-width;
  width: @box-width;
  position: relative;
}

.number-box {
  position: absolute;
  width: @box-width;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .item-box {
    width: @item-width;
    height: @item-width;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: 2px solid #ebebeb;
    border-right: 0;
    background-color: #fafafa;

    &:first-child {
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }

    &:last-child {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      border-right: 2px solid #ebebeb;
    }
  }

  &.real-box {
    .item-box {
      border: 2px solid transparent;
      background-color: transparent;
    }
  }
}

.input-hidden {
  position: absolute;
  height: @item-width;
  width: 2000px;
  top: 0;
  left: -1000px;
  opacity: 0;
  background-color: #ff6600;
}
