.accountForm {
  .account-item {
    padding: 40px 32px;
    background-color: #ffffff;
    border-radius: 12px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;

    .item-info {
      flex: 1;

      .ac-name {
        font-size: 28px;
      }

      .ac-address {
        font-size: 24px;
        color: #999999;
        padding: 16px 0 32px 0;
      }

      .ac-num {
        font-size: 36px;
      }
    }

    .arrow {
      width: 24px;
      height: 24px;
    }
  }
}
