.shop-car {
  position: absolute;
  right: 24px;
  bottom: 100px;
  width: 96px;
  height: 96px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  z-index: 100;

  .car {
    width: 40px;
    height: 40px;
  }

  .box {
    min-width: 24px;
    height: 24px;
    background: linear-gradient(90deg, rgba(255, 102, 102, 1) 0%, rgba(255, 10, 10, 1) 100%);
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 0 8px;

    .num {
      font-size: 16px;
      color: #fff;
    }
  }
}
