.packageBGoodsCouponListPromotion {
  .classifyPicker {
    width: 100%;
    height: calc(100% - 248px);
    position: fixed;
    top: 255px;
    background: rgba(000, 000, 000, 0.4);
    z-index: 9;

    .picker-content {
      background: #fff;
      border-radius: 0 0 16px 16px;
      justify-content: space-between;
      width: 100%;
      padding-top: 20px;

      .up-content {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 24px;
        max-height: 588px;
        overflow-y: scroll;

        .cate-item {
          width: 50%;
          height: 64px;
          flex-direction: row;
          align-items: center;

          .gx {
            width: 24px;
            height: 24px;
            margin-right: 16px;
          }

          .text {
            font-size: 24px;
            color: #333;
          }

          .active-text {
            color: #ff6600;
          }
        }
      }

      .down-btn {
        flex-direction: row;
        align-items: center;
        height: 104px;
        border-top: 1px solid #e6e6e6;
        padding: 0 32px;
        justify-content: space-between;

        .reset {
          width: 336px;
          height: 64px;
          border: 1px solid #ff6600;
          border-radius: 36px;
          font-size: 24px;
          color: #ff6600;
          align-items: center;
          justify-content: center;
          font-weight: bold;
        }

        .confire {
          width: 336px;
          height: 64px;
          background: linear-gradient(90deg, rgba(255, 136, 0, 1) 0%, rgba(255, 77, 0, 1) 100%);
          border-radius: 36px;
          font-size: 24px;
          color: #fff;
          align-items: center;
          justify-content: center;
          font-weight: bold;
        }
      }
    }
  }
}
