.goodsList {
}

.tag {
  width: 100vw;
  height: 104px;
  justify-content: center;
  align-items: center;

  .title {
    color: rgba(0, 0, 0, 0.4);
    font-size: 24px;
  }
}

.wm-list-none {
  padding-top: 0;
}

.group-buy-detail {
  .container {
    padding: 0 24px 24px;
    align-items: center;

    .image-container {
      position: relative;
      height: 388px;
      width: 100%;
      border-radius: 8px 8px 0 0;
      background-color: rgba(216, 216, 216, 1);

      .image {
        height: 388px;
        width: 100%;
        background-color: #fff;
      }

      .top-tag {
        position: absolute;
        top: 32px;
        left: 0;
        width: 112px;
        height: 40px;
        justify-content: center;
        align-items: center;
        background: linear-gradient(90deg, rgba(255, 132, 0, 1) 0%, rgba(255, 77, 0, 1) 100%);
        border-radius: 0 200px 200px 0;

        .tag-text {
          font-size: 24px;
          color: #fff;
        }
      }
    }

    .info {
      width: 100%;
      background-color: #fff;
      padding: 28px 24px 32px;
      flex: 1;
      justify-content: space-between;

      .top {
        height: 72px;
        overflow: hidden;

        .text {
          font-size: 28px;
          color: rgba(0, 0, 0, 0.8);
          line-height: 36px;
        }
      }

      .middle {
        justify-content: flex-end;
        flex-direction: row;

        .num {
          font-size: 20px;
          color: #ff6600;
        }

        .alone {
          font-size: 20px;
          color: rgba(0, 0, 0, 0.4);
        }
      }

      .down {
        flex-direction: row;
        justify-content: space-between;

        .left {
          justify-content: space-between;

          .price {
            font-size: 24px;
            color: #ff6600;
          }

          .alone {
            font-size: 20px;
            color: rgba(0, 0, 0, 0.4);
          }
        }

        .right {
          width: 136px;
          height: 56px;
          border-radius: 28px;
          margin-top: 16px;
          background: linear-gradient(90deg, rgba(255, 132, 0, 1) 0%, rgba(255, 77, 0, 1) 100%);
          justify-content: center;
          align-items: center;

          .btn {
            font-size: 24px;
            color: #fff;
          }
        }
      }
    }
  }
}
