.returnRefundRemark {
  background-color: #fff;
  padding: 32px 24px;

  .check-title {
    padding-bottom: 32px;
    font-size: 28px;
  }

  .mess-text {
    height: 120px;
    textarea {
      padding-top: 4px;
    }
    width: 100%;

    font-size: 24px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
    .taro-textarea {
      height: 100%;
      background-color: rgba(249, 249, 249, 100);
    }
  }
}
