.returnRefundHead {
  height: 92px;
  background-color: #fff;
  margin: 24px 0;
  flex-direction: row;
  padding: 0 24px;
  align-items: center;
  margin-bottom: 24px;

  .head-label {
    font-weight: 500;
    font-size: 28px;
    flex: 1;
  }
}
