.modify-account {
  padding: 24px;
  height: 100vh;

  .bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 24px;
    height: 120px;
  }
}
