.use-gift-card {
  .gift-card-tab {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    .tip-info {
      display: flex;
      flex-direction: row;
      // align-items: center;
      height: 128px;
      padding: 24px;
      background: var(--themeAlpha06);
      .tip-info-rule-img {
        margin: 8px 16px 0 0;
      }
      .tip-icon {
        align-self: flex-start;
        width: 32px;
        height: 32px;
        background-size: 100% 100%;
        flex-shrink: 0;
        margin: 28px 16px 0 0;
      }
      .tip-text {
        font-size: 24px;
        color: var(--themeColor);
        line-height: 40px;
      }
    }
    .main-tab {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      box-shadow: inset 0px -1px 0px 0px #ebebeb;
      .tab-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        margin: 8px 0;
        .tab-text {
          margin-top: 20px;
          font-size: 28px;
          color: #000000cc;
          line-height: 28px;
        }
        .tab-line {
          display: none;
          margin-top: 20px;
          width: 48px;
          height: 4px;
          background: var(--themeColor);
          border-radius: 2px;
        }
      }
      .tab-item-active {
        .tab-text {
          color: var(--themeColor);
          font-weight: 500;
        }
        .tab-line {
          display: block;
        }
      }
    }
  }
}
