.packageBGoodsCouponListPromotion {
  background: #fff;
  position: relative;
  display: block;
  overflow: hidden;

  .scroll-view {
    height: calc(100vh - 312px - 80px - 24px);
    height: calc(100vh - 312px - 80px - 24px - env(safe-area-inset-bottom));
    display: flex;
    flex-direction: column;
    margin-top: 288px;
    margin-bottom: 24px;

    .status {
      margin-top: 20px;
      font-size: 24px;
      color: #999;
    }
  }
}
