.body1 {
  padding: 20px 14px;
  background: #ffffff;
  margin-bottom: 24px;
  border-radius: 10px;
}

.return-detail {
  padding: 0 14px;
  background: #ffffff;
  margin-bottom: 24px;
  border-radius: 10px;
}
/* 订单头部 */
.sku-head {
  padding: 20px 10px;
  background: #ffffff;
  display: flex;

  .head-top {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    font-size: 28px;
    flex-direction: row;
    align-items: center;

    .self-sales {
      margin-right: 8px;
      font-weight: normal;
      align-items: center;
      padding: 0 8px;
      background: linear-gradient(90deg, rgba(254, 154, 41, 1) 0%, rgba(254, 90, 20, 1) 100%);
      border-radius: 4px;
      font-size: 20px;
      color: #fff;
    }
  }
}

.limit-img {
  padding: 20px 10px;
  background: #fff;
  display: flex;
  border-radius: 12px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .right-context {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(0, 0, 0, 0.8);

    .icon {
      width: 24px;
      height: 24px;
    }
  }

  .total-num {
    font-size: 24px;
    margin-right: 8px;
    font-weight: 500;
  }

  .img-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .img-item {
      width: 112px;
      height: 112px;
      margin-right: 16px;
    }
  }
}

.total-price-return-detail {
  .total-list {
    padding: 20px 10px;
    flex-direction: row;
    justify-content: space-between;

    .price {
      font-size: 28px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.8);
    }

    .price-color {
      color: #ff6600;
      font-size: 28px;
      font-weight: 500;
    }

    .price2 {
      font-size: 24px;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 500;
    }

    .price3 {
      font-size: 24px;
      color: rgba(0, 0, 0, 0.8);
    }
  }
}
