
.loginWecatLoginformInfo {
    padding: 0 40px;
    align-items: center;
  
    .wm-banner {
      width: 100%;
      height: 480px;
      margin-bottom: 48px;
    }
  
    //按钮样式
    .submit-btn {
      width: 560px;
      height: 80px;
      border-radius: 40px;
      font-size: 32px;
      color: #fff;
      align-items: center;
      justify-content: center;
      margin-bottom: 24px;
    }
  
    .green-btn {
      background: linear-gradient(90deg, rgba(107, 230, 83, 1) 0%, rgba(0, 194, 90, 1) 100%);
    }
  
    .gray-btn {
      color: #333;
      border: 2px solid #e6e6e6;
    }
  }

