.ApplyCredit {
  background-color: #fff;
  padding-top: 32px;

  .apply-input {
    width: 670px;
    margin-top: 24px;
    padding-left: 40px;
  }

  ::placeholder {
    font-size: 28px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
  }

  .mess-text {
    font-size: 28px;
    font-weight: 400;
    color: #333333;
    line-height: 2;
    resize: none;
  }

  .apply-name {
    height: 28px;
    font-size: 28px;
    font-weight: 500;
    color: #343434;
    line-height: 28px;
    padding-left: 40px;
  }

  .credit-submit-apply {
    position: fixed;
    bottom: 0;
    width: 702px;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 20px;
    padding-bottom: calc(20px + constant(safe-area-inset-bottom)); /* 兼容 iOS < 11.2 */
    padding-bottom: calc(20px + env(safe-area-inset-bottom)); /* 兼容 iOS >= 11.2 */
  }

  text,
  textarea {
    line-height: 1.5;
    font-size: 28px;
  }
}
