@import url('@/assets/style/theme.less');
@import url('@/assets/style/mixin.less');

.CreditHeader {
  height: 240px;
  padding: 0 24px;
  position: relative;
  z-index: 0;

  .user-center-top-bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(255, 132, 0, 1) 0%, rgba(255, 77, 0, 1) 100%);
    border-radius: 0 0 72px 72px;

    .collection-box {
      position: relative;
      padding: 0 24px;
      z-index: 100;
      margin-top: 150px;
      margin-bottom: 24px;

      .collection-tab {
        flex-direction: row;
        align-items: center;
        height: 152px;
        background-color: #fff;
        border-radius: 12px;
      }
    }
  }
}
