.detail_growthValue {
  .detail_box {
    padding: 24px 0;
    background: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #ebebeb;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .left-spn {
      justify-content: space-between;

      .black-text {
        font-size: 28px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.8);
        line-height: 1;
        margin-bottom: 24px;
      }

      .detail {
        font-size: 24px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.4);
        line-height: 1;
        margin-bottom: 24px;
      }

      .time {
        font-size: 24px;
        font-weight: 400;
        line-height: 1;
        color: rgba(0, 0, 0, 0.4);
      }
    }

    .right-spn {
      align-items: center;
      justify-content: center;
      flex-direction: row;
      font-size: 32px;
      font-weight: 500;
      color: rgba(255, 102, 0, 1);
    }
  }
}
