.packageCOrderReturnLogisticsInfo {
  height: 100vh;
  background-color: #f5f5f5;

  .contentBox {
    background-color: #ffffff;
    padding: 10px 14px;
    margin: 24px 0;
    //   height: 380px;
    .title {
      padding: 32px 10px;
      font-size: 28px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.8);
    }
  }

  .status {
    font-size: 24px;
    color: #a3a3a3;
    text-align: center;
    padding: 24px 0 30px 0;
  }

  .goods_list {
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    margin-bottom: 24px;

    .title {
      padding: 32px 10px;
      font-size: 28px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.8);
    }
  }
}
