// 收藏
.collect {
  flex-direction: row;
  align-items: center;
  height: 48px;
  background: rgba(245, 245, 245, 1);
  border-radius: 26px;
  padding: 0 24px;
  min-width: 100px;
  flex-shrink: 0;

  .hert {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  .text {
    font-size: 24px;
    color: #333;
  }
}
