.bottomBtn {
  margin-top: 20px;

  .pd-info {
    font-size: 28px;
    color: #fff;
    text-align: center;

    .pd-info-text {
      font-size: 28px;
      color: #ffe666;
    }
  }

  .pd-btn {
    flex-direction: row;
    justify-content: center;
    margin: 20px 0 0;

    .pd-btn-item {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 318px;
      height: 120px;
      border-radius: 40px;
      background: transparent;
      overflow: hidden;

      .pd-btn-icon {
        width: 100%;
        height: 100%;
      }

      .pd-btn-text {
        font-size: 32px;
        color: #fff;
      }
    }
  }
}
