@import url('@/assets/style/theme.less');

.creditAssociateOrder {
  background-color: #f4f4f4;
  overflow-y: scroll;
  display: block;
  height: 100vh;

  .creditOrder {
    padding-bottom: 180px;
  }

  .check-view {
    font-size: 24px;
    align-items: center;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
    margin: 0 12px;
  }
}
