.pay_info {
  background-color: #ffffff;
  margin-top: 20px;
  padding: 2px 14px;
}

.pay_info2 {
  background-color: #ffffff;
  margin-top: 20px;
  padding: 0 14px;

  .text1 {
    font-size: 24px !important;
  }
}
