.TabbarChannelGoodsList {
  background: #fff;
  position: relative;
}

.TabbarChannelGoodsList_big {
  .recommend_goods_list {
    background: #fff;

    .recommend_goods_list_spu {
      background: #fff;
    }
  }
}

.loginGoodsGreyList {
  background: #f5f5f5;
}

.goods-list-scroll-view {
  height: calc(100% - 96px - 80px - 184px);
  overflow-y: auto;
  display: block;
  -webkit-overflow-scrolling: touch;
  // display: flex;
  // flex-direction: column;
  .status {
    font-size: 24px;
    color: #999;
  }
}
