.gift-card-all-ungrouped {
  width: 100%;
  padding: 0 24px;
  position: relative;
  .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 32px 16px;
    .all {
      width: 28px;
      height: 28px;
      margin-right: 8px;
    }
    .text {
      font-size: 24px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.8);
      line-height: 28px;
    }
  }
  .goods {
    width: 702px;
    border-radius: 16px;
    .no-data {
      color: #898989;
      font-size: 24px;
      margin-top: 40px;
      width: 100%;
      text-align: center;
    }
  }
}
