.wm-list-view {
  display: block;
  -webkit-overflow-scrolling: touch;
  .no-more {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.4);
    padding: 24px 0;
    text-align: center;
  }

  .recommend_goods_list {
    background: #fff;

    .recommend_goods_list_spu {
      background: #fff;
    }
  }
}
