.order-coupon-couponList {
  padding: 24px 24px 0 24px;
  height: calc(100vh - 68px - 112px);

  .coupon-store-name {
    font-size: 28px;
    padding: 24px 0;
    font-weight: 500;
  }

  .coupon-visibity {
    // height: 60px;
    height: 16px;
  }
}
