.coupon-header {
  height          : 72px;
  padding         : 0 32px;
  align-items     : center;
  flex-direction  : row;
  background-color: #fff;
  position        : fixed;
  width           : 100%;
  background-color: #fff;
  z-index         : 100;
  top             : 0;

  .coupon-type {
    flex-direction: row;
    flex          : 1;

    .down-img {
      width      : 24px;
      height     : 24px;
      margin-left: 8px;
    }
  }
}