.flash-sale-list {
  // padding: 0 24px;
  // position: relative;
  .wrap {
    position: relative;

    .progress {
      position: absolute;
      right: 24px;
      bottom: 24px;
    }
  }

  .flash-sale-bgc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 64px;
    border-radius: 0 0 32px 32px;
    background-color: #ff6600;
  }
}
