.modal-box {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;

  .modal-img {
    width: 560px;
    height: 500px;
    max-width: 560px;
    max-height: 400px;
    z-index: 2002 !important;

    .modal-content {
      width: 100%;
      height: 100%;
      text-align: center;
      flex: 1;
    }
  }

  .modal-img-height {
    width: 560px;
    height: 900px;
    max-width: 560px;
    max-height: 900px;
    z-index: 2002 !important;

    .modal-content {
      width: 100%;
      height: 100%;
      text-align: center;
      flex: 1;
    }
  }

  .modal-close {
    width: 50px;
    height: 50px;
    overflow: visible;
    margin: 30px auto;
    z-index: 2002 !important;
  }

  .modal-mask {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2001;
    height: 100%;
    width: 100%;
  }
}

.modal-box-h5 {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  z-index: 10000;

  .modal-img {
    max-width: 560px;
    max-height: 800px;
    z-index: 2002 !important;

    .modal-content {
      width: auto;
      height: auto;
      max-width: 560px;
      max-height: 800px;
      text-align: center;
    }

    .modal-content img {
      max-width: 560px;
      max-height: 800px;
      object-fit: contain;
    }
  }

  .modal-img-height {
    // max-width: 560px;
    // max-height:600px;
    max-width: 300px;
    max-height: 400px;
    z-index: 2002 !important;

    .modal-content {
      width: auto;
      height: auto;
      // max-width: 560px;
      // max-height:600px;
      max-width: 300px;
      max-height: 400px;
      text-align: center;
    }

    .modal-content img {
      // max-width: 560px;
      // max-height:600px;
      max-width: 300px;
      max-height: 400px;
      object-fit: contain;
    }
  }

  .modal-close {
    width: 50px;
    height: 50px;
    overflow: visible;
    margin: 30px auto;
    z-index: 2002 !important;
  }

  .modal-mask {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2001;
    height: 100%;
    width: 100%;
  }
}
