.bot {
  height: 30px;
  line-height: 0;
  font-size: 60px;
  color: #f3961c;
  position: absolute;
  left: 60px;
  bottom: -25px;
}

.modal-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 80;
}

.menu-state:before {
  /* 伪元素必须添加content */
  content: '';
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  display: block;
  border-width: 12px;
  border-color: transparent transparent #fff transparent;
  border-style: solid dashed dashed dashed;
  position: absolute; /* 绝对定位不占位置 */
  right: 16px;
  top: -30px;
}

.menu-box {
  position: absolute;
  right: 25px;
  z-index: 999;
  top: 90px;

  .menu-state {
    width: 272px;
    background-color: #fff;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 10px;
    z-index: 99;

    .icon {
      width: 32px;
      height: 32px;
      margin-left: 32px;
    }

    .menu-title {
      margin-left: 20px;
      font-size: 28px;
      margin-top: 2px;
      color: rgba(0, 0, 0, 0.8);
    }

    .menu-state-child {
      font-size: 24px;
      padding: 28px 0;
      display: flex;
      flex-direction: initial;
    }
  }
}
