.payment {
  .extra-wrap {
    background-color: #ffffff;
    .wm-form-input{
      padding: 24px;
      .label{
        font-weight: 400;
      }
    }

  .weui-picker__bd {
    display: flex;
    flex-direction: row;
  }

  .weui-picker__hd {
    display: flex;
    flex-direction: row;
  }

  .payment-tip {
    padding: 0 24px;
    background-color: #fff6f0;
    flex-direction: row;
    height: 88px;
    align-items: center;

    .payment-tip-text {
      font-size: 24px;
      color: #ff6600;
    }

    .remind {
      width: 32px;
      height: 32px;
      margin-right: 18px;
    }
  }

  .from-select {
    height: 92px;
    padding: 0 24px;
    background-color: #ffffff;
    flex-direction: row;
    align-items: center;

    .select-label {
      font-size: 28px;
      margin-right: 24px;
    }

    .value {
      font-size: 28px;
      flex: 1;
      // color    : #999999;
    }

    .arrow {
      width: 24px;
      height: 24px;
    }
  }

  .upload {
    margin: 24px 0;
    background-color: #ffffff;
    padding: 0 24px 32px;

    .upload-title {
      font-size: 28px;
      padding: 32px 0;
    }

    .enclosure {
      position: relative;
      width: 164px;
      height: 164px;

      .plus {
        width: 164px;
        height: 164px;
        margin-bottom: 20px;
      }

      .close-pic {
        position: absolute;
        right: -8px;
        top: -8px;
        width: 32px;
        height: 32px;
      }
    }

    .tips {
      color: #999999;
      font-size: 24px;
      margin-top: 8px;
    }
  }

  .from-textArea {
    background-color: #ffffff;
    padding: 32px 24px;
    // flex-direction: row;
    .select-label {
      font-size: 28px;
      padding-bottom: 32px;
    }

    .mess-text {
      font-size: 28px;
      height: 120px;
      // margin-left: 16px;
      padding: 3px 0;
    }
  }

  .bottom {
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    padding: 20px 24px;
  }

  .weui-picker__bd {
    display: flex;
    flex-direction: row;
  }

  .weui-picker__hd {
    display: flex;
    flex-direction: row;
  }
}
