.form {
  padding: 0 24px 120px 24px;

  .upload {
    background-color: #ffffff;
    padding: 0 12px 28px;

    .upload-title {
      font-size: 28px;
      padding: 34px 0;
      font-weight: 600;
      flex-direction: row;
      justify-content: space-between;

      .license {
        width: 32px;
        height: 34px;
      }
    }

    .enclosure {
      position: relative;
      height: 112px;

      .plus {
        width: 112px;
        height: 112px;
        border-radius: 12px;
      }

      .close-pic {
        position: absolute;
        right: 0;
        top: 0;
        width: 32px;
        height: 32px;
      }
    }

    .tips {
      color: #999999;
      font-size: 24px;
      margin: 28px 0;
    }
  }
}

input::placeholder {
  color: #999;
}
