.topStatus {
  .status {
    margin-top: 80px;
    align-items: center;
    margin-bottom: 72px;

    &-icon {
      width: 96px;
      height: 96px;
    }

    &-name {
      padding: 24px 0;
    }

    &-info {
      font-size: 28px;
      color: rgba(0, 0, 0, 0.4);

      &-info {
        font-size: 28px;
        color: rgba(0, 0, 0, 0.4);
      }

      &-reason {
        color: red;
        font-size: 28px;
      }
    }
  }
}
