.searchHistory {
  width: 702px;
  margin-left: 24px;

  .search-goodlist {
    font-size: 24px;
    height: 88px;
    line-height: 88px;
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
    font-weight: 500;

    .goods-name {
      font-size: 22px;
    }

    .search-goodlist-brand {
      display: flex;
      flex-direction: initial;

      .brand-state {
        height: 56px;
        max-width: 180px;
        line-height: 56px;
        background-color: rgb(245, 245, 245);
        border-radius: 26px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 10px;
        margin-top: 15px;
        color: rgba(0, 0, 0, 0.8);
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 20px;
      }
    }
  }

  .search-store {
    font-size: 24px;
    height: 88px;
    display: flex;
    flex-direction: initial;
    font-weight: 500;

    .search-store-icon {
      width: 28px;
      height: 28px;
      position: relative;
      top: 20px;
    }

    .search-store-name {
      position: relative;
      top: 20px;
      margin-left: 5px;
      font-size: 22px;
    }
  }
}
