.user-enter-info {
  background-color: #fff;

  .edit_info {
    margin-left: 24px;
    margin-right: 24px;
    padding: 9px 0;
  }

  .picker {
    border-bottom: 1px solid rgb(230, 230, 230);
    margin-left: 24px;
    margin-right: 24px;
  }
}
