.couponModal {
  position: fixed;
  bottom: 0;
  height: 100vh;
  overflow: scroll;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;

  .mask-container {
    position: absolute;
    bottom: 0;
    height: 70vh;
    width: 100%;
    overflow: scroll;
    background-color: #f5f5f5;
    border-radius: 16px 16px 0 0;

    .mask-header {
      position: fixed;
      top: 30vh;
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 96px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0 -1px 0 0 rgba(230, 230, 230, 1);
      border-radius: 16px 16px 0 0;
      z-index: 10;

      .header-text {
        font-size: 32px;
      }

      .close-icon {
        position: absolute;
        right: 32px;
        width: 40px;
        height: 40px;
      }

      .close-img {
        width: 40px;
        height: 40px;
      }
    }

    .mask-con {
      padding: 24px;
      margin-top: 72px;
    }
  }
}
