.goodsSpec {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 96px;
  padding: 0 24px;
  background: #fff;

  .l-content {
    flex-direction: row;
    align-items: center;
    flex: 1;
    // 标题
    .label {
      font-size: 28px;
      color: rgba(0, 0, 0, 0.8);
      margin-right: 24px;
      font-weight: 500;
    }

    .text {
      font-size: 20px;
      color: #999;
      flex: 1;
    }
  }
  //更多
  .more {
    width: 48px;
    height: 48px;
  }
}
