//促销活动
.memberCenter__goods-active {
  flex-direction: row;
  align-items: center;
  overflow: hidden;

  .goods-label {
    height: 28px;
    background: linear-gradient(90deg, #ff6666 0%, #ff0a0a 100%);
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    line-height: 20px;
    padding: 4px 8px;
    margin-right: 8px;
    white-space: nowrap;
  }

  .active-item {
    height: 28px;
    border-radius: 4px;
    border: 1px solid #ff6600;
    padding: 0 8px;
    margin-right: 8px;
    align-items: center;
    justify-content: center;

    .active-text {
      height: 22px;
      line-height: 22px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      font-size: 20px;
      color: #ff6600;
    }
  }
}
