.memberCenter__list {
  padding: 24px;

  .hot-text {
    font-size: 28px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 24px;
  }

  .bigSpuLists {
    // padding-bottom: 200px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    .status {
      font-size: 24px;
      color: #a3a3a3;
      text-align: center;
      padding-bottom: 30px;
      width: 100vw;
    }
  }
}
