.collectionBottom {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 24px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;

  .operation {
    flex-direction: row;
  }
}

.taro-modal__foot {
  flex-direction: row;
}
