.login-card-info{
  position: relative;
  height: 100%;
  .login-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 400px;
    background: #ff6600;
    border-radius: 0 0 32px 32px;
  }
  .loginImg{
    margin-top: 40px;
    margin-left: 80px;
    width: 590px;
    height: 220px;
  }
  .backgroundImage{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    object-fit: cover;
  }
}
.login-card-box{
  margin-top: 260px;
  position: relative;
  z-index: 2;
  width: 670px;
  border-radius: 24px;
  background: #fff;
  padding: 0 40px;
  margin-left: 40px;
  .title{
    font-size: 36px;
    line-height: 48px;
    font-weight: 500;
    color: #333;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 52px;
  }
  .form-input{
    width: 100%;
    padding: 40px 0;
    border-bottom: 2px solid #ebebeb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .int{
    flex: 1;
    font-size: 28px;
  }
  //按钮样式
  .submit-btn {
    width: 100%;
    height: 72px;
    background: linear-gradient(90deg, rgba(255, 136, 0, 1) 0%, rgba(255, 77, 0, 1) 100%);
    border-radius: 36px;
    font-size: 28px;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin: 64px 0 96px;
    font-weight: bold;
  }
}
