.loginLogin-loginForm {
  // 关闭按钮样式
  .close {
    margin-bottom: 24px;

    .close-icon {
      width: 40px;
      height: 40px;
    }
  }

  .logo-box {
    align-items: center;
    justify-content: center;
    padding: 24px 0 64px;

    .logo-panel {
      // position: relative;
      width: 272px; //136 * 80
      height: 160px;
      // padding-bottom: 23.19%;
      .logo {
        // position: absolute;
        // top: 0;
        // left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        display: flex;

        img {
          object-fit: contain;
        }
      }
    }
  }

  .login-info {
    width: 690px;
    // 表单样式
    .form-input {
      flex-direction: row;
      padding: 36px 0;
      border-bottom: 1px solid #e6e6e6;
      align-items: center;

      .l-icon {
        width: 40px;
        height: 40px;
        margin-right: 24px;
      }

      .int {
        flex: 1;
        color: #333;
        font-size: 28px;
      }

      .r-btn {
        align-items: center;
        justify-content: center;

        .text {
          font-size: 28px;
          color: #ff6600;
        }

        .icon {
          width: 40px;
          height: 40px;
        }
      }

      .forget-password {
        font-size: 28px;
        color: #999;
        margin-left: 40px;
        padding-right: 20px;
      }
    }
  }
  //按钮样式
  .submit-btn {
    width: 690px;
    height: 72px;
    background: linear-gradient(90deg, rgba(255, 136, 0, 1) 0%, rgba(255, 77, 0, 1) 100%);
    border-radius: 36px;
    font-size: 28px;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin: 80px 0 40px;
    font-weight: bold;
  }
  //切换登录方式 注册样式
  .switch-login {
    flex-direction: row;
    justify-content: space-between;
    width: 690px;

    .l-login {
      font-size: 28px;
      color: #999;
    }

    .r-register {
      font-size: 28px;
      color: #999;
    }
  }
   //注册协议样式
   .regis-word {
    margin-left: -20px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.4);
    flex-direction: row;
    align-items: center;

    .change-color {
      color: var(--themeColor);
      font-size: 24px;
    }
  }
  .regis-word-text{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.4);
    flex-direction: row;
    align-items: center;
  }
}
