.packageBSalesSalesPerform {
  height: 100vh;
  background-color: #f5f5f5;

  .fixedTop {
    position: fixed;
    top: 0;
  }

  .taro-img {
    position: static;
  }

  .wm-none-img {
    width: 200px;
    height: 200px;
  }
}
