.displayCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.return-Detail {
  height: 92px;
  padding: 0 24px;
  background: #fff;

  .returnDetailCenter {
    height: 92px;
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 28px;
    font-size: 28px;

    .title {
      font-weight: 400;
    }

    .stateCenter {
      font-weight: 500;
    }

    .money {
      font-weight: 500;
      position: relative;

      &::before {
        content: '¥';
        position: absolute;
        top: 33px;
        left: -20px;
      }
    }
  }
}
