.goods-list-skeContainer-small {
  background: #fff;
  padding: 24px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  overflow-y: scroll;
}

.skeColor-small {
  background-color: #f5f5f5;
}

.skeItem-small {
  flex-direction: row;
  margin-bottom: 24px;
  justify-content: space-between;
}

.skeItemLeft-small {
  border-radius: 12px;
  background-color: #f5f5f5;
  width: 34.13vw;
  height: 256px;
}

.skeItemRight-small {
  // width:screenWidth*0.53
}

.skeItemTitle-small {
  // width:211
  width: 56.26vw;
  height: 24px;
  margin-bottom: 8px;
}

.skeItemSpec-small {
  width: 180px;
  height: 20px;
  margin-top: 15px;
}

.skeItemLineBox-small {
  flex-direction: row;
  margin-top: 16px;
}

.skeItemLineBox1-small {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}

.skeSqure1-small {
  width: 76px;
  height: 28px;
  margin-right: 8px;
}

.skeSqure2-small {
  width: 56px;
  height: 28px;
  margin-right: 8px;
}

.skeSqure3-small {
  width: 64px;
  height: 20px;
  margin-right: 8px;
}

.skeSqure4-small {
  width: 104px;
  height: 32px;
  margin-top: 7px;
}

.skeSqure5-small {
  width: 140px;
  height: 40px;
}

.mb14 {
  margin-bottom: 28px;
}
