.store-attention {
  display: block;

  .modify {
    font-size: 24px;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 32px;
    height: 72px;
    align-items: center;
  }
}

.taro-modal__foot {
  flex-direction: row;
}
