.bottom {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 24px 24px 44px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
  z-index: 999;

  .operation {
    flex-direction: row;
  }
}
