.store-attention__item {
  flex-direction: row;
  align-items: center;
  margin-left: 24px;
}

.check {
  margin-right: 24px;

  &-img {
    width: 34px;
    height: 34px;
  }
}

.taro-modal__foot {
  flex-direction: row;
}
