.user-pw-info {
  background-color: #ffffff;
  margin-top: 20px;
  padding: 10px 20px;
}

.register-tips {
  margin-top: 20px;
  padding: 0 24px;

  .tishi {
    color: rgba(0, 0, 0, 0.4);
    font-size: 28px;
    margin-bottom: 16px;
  }

  .massage {
    color: rgba(0, 0, 0, 0.4);
    font-size: 24px;
  }
}

.send {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .r-btn {
    align-items: center;
    justify-content: center;

    .text {
      font-size: 28px;
      color: #ff6600;
    }

    .icon {
      width: 40px;
      height: 40px;
    }
  }
}
