.class-equity-wrap {
  border-radius: 12px;
  overflow: hidden;
}

.swiper_class {
  height: 240px;
  background: linear-gradient(360deg, rgba(250, 250, 250, 1) 0%, rgba(255, 255, 255, 1) 100%);
  width: 100%;
  padding: 40px 0;

  .wm-hor-scrollView {
    padding: 0 40px;

    .scrollView-inner {
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
    }
  }

  .swiper-item {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: inline-block;
    padding: 0 38px;
  }

  .swiper_box {
    width: 80px;
    height: 80px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.64) 0%, rgba(0, 0, 0, 0.48) 100%);
    border-radius: 41px;
    align-items: center;
    justify-content: center;
  }

  .swiper-img {
    width: 32px;
    height: 32px;
  }

  .swiper-text {
    align-items: center;
    margin-top: 16px;
    font-size: 24px;
    font-weight: 400;
    flex: 1;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.4);
  }

  .active {
    font-size: 28px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
  }

  .swiper-text1 {
    width: 100%;
    align-items: center;
  }

  .swiper-text2 {
    margin-top: 16px;
    width: 48px;
    height: 4px;
    background: linear-gradient(360deg, rgba(250, 250, 250, 1) 0%, rgba(255, 255, 255, 1) 100%);
    border-radius: 2px;
    visibility: hidden;
  }

  .active2 {
    background: rgba(255, 102, 0, 1);
    visibility: visible;
  }
}

.body {
  background-color: #ffffff;
  padding: 0 24px 24px 24px;
}

.body_box {
  border-bottom: 1px solid rgba(230, 230, 230, 1);
  padding: 25px 0;
  overflow: hidden;
}

.up-div {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}

.left-icon {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.right-title {
  font-size: 28px;
  font-weight: 500;
  color: rgba(224, 144, 90, 1);
}
