.bankAccounts {
  height: 100vh;
  background-color: #f5f5f5;
  padding-bottom: 160px;

  .bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 20px 24px 24px;
    background-color: #fff;

    z-index: 9;
  }

  .info {
    font-size: 24px;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
  }

  .add-icon {
    width: 32px;
    height: 32px;
    margin-right: 16px;
  }
}

.ios-bottom {
  padding-bottom: 92px;
}
