.compositePicker {
  width: 100%;
  position: fixed;
  bottom: 0;
  top: auto !important;
  background: rgba(000, 000, 000, 0.4);
  z-index: 999;

  .picker-content {
    background: #fff;
    border-radius: 0 0 16px 16px;
    align-items: center;
    width: 100%;

    .picker-item {
      font-size: 24px;
      color: #333;
      height: 80px;
      width: 100%;
      line-height: 80px;
      text-align: center;
    }

    .active {
      color: #ff6600;
    }
  }
}
