.Nav {
  padding: 0 24px;

  .bar {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding-top: 32px;

    .nav {
      flex: 1;
      text-align: center;
    }

    .credit-records-item {
      font-size: 24px;
    }
  }

  .active {
    margin-top: 20px;
    width: 100%;
    align-items: center;
  }

  .activeLine {
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: #ff6600;
  }

  .noActiveLine {
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
  }

  .itemSelected {
    color: #ff6600;
  }
}
