.RepaymentItem {
  display: flex;
  flex-direction: column;
  padding-top: 36px;

  .repaymentState {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 32px;

    .repaymentAmount {
      flex-direction: row;

      .repaymentAmountIcon {
        font-size: 24px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.8);
      }

      .repaymentAmountNum {
        font-size: 32px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.8);
        line-height: 32px;
      }
    }

    .repaymentIng {
      font-size: 24px;
      font-weight: 500;
      line-height: 24px;
      color: #ff6600;
    }

    .repaymentZuofei {
      font-size: 24px;
      font-weight: 500;
      line-height: 24px;
    }
  }

  .repaymentStateNo {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
    padding: 0 32px;
    padding-bottom: 40px;

    .repaymentStateNoNum {
      font-size: 24px;
      color: rgba(0, 0, 0, 0.4);
      font-weight: 400;
      line-height: 24px;
    }

    .repaymentStateNoDate {
      font-size: 24px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.4);
      line-height: 24px;
    }
  }
}

.borderBottom {
  height: 0.5px;
  width: 100%;
  background-color: #ebebeb;
}
