.salesList {
  padding-top: 436px;

  &.day {
    padding-top: 332px;
  }
}

.salesListItem {
  padding: 20px 24px;
  background-color: #ffffff;
  margin-bottom: 24px;
  display: block;

  .title {
    .title-item {
      color: #999999;
      font-size: 24px;
    }
  }

  .row {
    flex-direction: row;
    height: 64px;
    align-items: center;

    .item {
      flex: 1;
      font-size: 24px;
      color: #999999;

      &.price {
        color: #ff6600;
      }
    }
  }
}
