.salesConfirm {
  height: 88px;
  padding: 0 24px;
  flex-direction: row;
  align-items: center;
  background-color: #fff3eb;

  .salesC-left {
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    color: #ff6600;
    flex: 1;

    .question {
      width: 32px;
      height: 32px;
      margin-right: 16px;
    }

    .arrowImg {
      width: 24px;
      height: 24px;
      margin-left: 8px;
    }
  }

  .salesC-right {
    flex-direction: row;
    // width: 112px;
    height: 40px;
    background: linear-gradient(90deg, rgba(255, 136, 0, 1) 0%, rgba(255, 77, 0, 1) 100%);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;

    .salesC-right-text {
      font-size: 20px;
      color: #ffffff;
    }

    .arrowImg {
      width: 24px;
      height: 24px;
    }
  }
}
