

.xxqrcode {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
}

#reader {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}