.confirmMask {
  .at-modal__footer .at-modal__action {
    display: flex;
    flex-direction: row;

    taro-button-core {
      color: #ff6600;
      font-size: 28px;
    }
  }

  .at-modal__container .at-modal__content .content-simple {
    padding-top: 10%;
  }

  text,
  textarea {
    line-height: normal;
  }
}
