.searchBar {
  padding: 12px 32px;
  height: 96px;
  background-color: #fff;

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 64px;
    border-radius: 32px;
    background-color: #f5f5f5;
    padding-left: 32px;
    padding-right: 32px;

    .searchImg {
      width: 32px;
      height: 32px;
    }

    .searchText {
      color: #999;
      margin-left: 16px;
      font-size: 24px;
    }
  }
}
