.packageAPrizeRuleMain {
  .prize-rule-not-data {
    align-items: center;
    padding-top: 100px;

    .prize-rule-img {
      width: 200px;
      height: 200px;
      margin-bottom: 32px;
    }

    .prize-rule-not-text {
      font-size: 24px;
      color: rgba(0, 0, 0, 0.4);
      align-items: center;
      justify-content: center;
    }
  }
}
