.couponList {
  padding: 0 24px;
  height: 100%;

  &:nth-child(1) {
    margin-top: 24px;
  }
}

.none-coupon {
  height: 70vh;
}

.status {
  font-size: 24px;
  color: #a3a3a3;
  text-align: center;
}
