.coupon-box {
  flex-direction: row;
  align-items: center;
  margin-top: 16px;

  .coupon-contain {
    flex-direction: row;
    height: 40px;

    .coupon-my-img {
      width: 24px;
      height: 40px;
    }

    .coupon-my-img-left {
      width: 24px;
      height: 40px;
      transform: rotate(180deg);
    }

    .text {
      font-size: 16px;
      text-align: center;
      height: 40px;
      line-height: 40px;
      color: #ff6600;
      font-weight: 500;
      border-top: 2px solid #ff6600;
      border-bottom: 2px solid #ff6600;
    }
  }
}
