.group-box {
  height: 56px;
  background-color: #333;
  justify-content: center;
  padding: 0 32px;
  border-radius: 28px;
  margin-top: 30px;

  .group-content {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    .group-left {
      font-size: 24px;
      font-weight: 400;
      color: #fff;

      .group-right-flag {
        color: #ff6600;
        font-size: 24px;
        margin-left: 8px;
      }
    }

    .group-right {
      flex-direction: row;
      align-items: center;

      .group-right-text {
        color: #fff;
        font-size: 20px;
      }

      .group-right-img {
        color: #fff;
        width: 24px;
        height: 24px;
        margin-left: 4px;
      }
    }
  }
}
