.price-style {
  flex-direction: row;
  align-items: flex-end;
  left: 0;
  bottom: 0;
  letter-spacing: -2px;

  line-height: normal;

  .points-price {
    flex-direction: row;
    align-items: flex-end;
    color: #ff6600;

    .price-point {
      font-size: 32px;
      color: #ff6600;
      font-weight: 500;
    }

    .name-point {
      color: #ff6600;
      font-size: 18px;
      margin-left: 2px;
      font-weight: 400;
    }
  }

  .plain {
    flex-direction: row;
    align-items: baseline;
    left: 0;
    bottom: 0;
    margin-bottom: -2px;
    color: #ff6600;
  }

  .small-plain {
    margin-bottom: -6px;
    color: #ff6600;
  }

  .sum {
    font-size: 26px;
    color: #333;
  }

  // .unit {
  //   font-size: 32Px;
  //   color: #ff6600;
  //   transform: scale(0.83);
  //   transform-origin: left;
  //   font-weight: bold;
  // }
  .wm-price-text {
    font-size: 32px;
    color: inherit;
    font-weight: 500;
    margin-bottom: -4px;
  }

  .price-unit {
    color: inherit;
    font-size: 20px;
    line-height: 24px;
  }

  .price-fixed2 {
    font-size: 20px;
    color: inherit;
    font-weight: 500;
  }

  .price-point-text {
    color: inherit;
    font-size: 18px;
    margin-left: 2px;
    font-weight: 400;
    white-space: nowrap;
  }

  .price-small {
    font-size: 24px;
  }

  .price-little {
    font-size: 20px;
  }

  .price-mini {
    font-size: 16px;
  }

  .price-smallest {
    font-size: 10px;
  }

  .price-plus {
    font-size: 20px;
    color: #ff6600;
    font-weight: 500;
  }

  .line-price {
    font-size: 20px;
    color: #999;
    transform-origin: left;
    text-decoration: line-through;
    margin-left: 10px;
  }

  text {
    font-family: PingFang SC, PingFangSC-Regular !important;
  }
}
.price-goods > .wm-price-default {
  max-width: 480px !important;
}
