.star-box {
  flex-direction: row;
  align-items: center;
  margin-bottom: -10px;

  .star-click-area {
    width: 36px;
    height: 40px;
    align-items: center;
    justify-content: center;

    .star-img {
      width: 20px;
      height: 20px;
    }

    .star-img:first-child {
      margin-left: -8px;
    }
  }
}
