@import url('@/assets/style/theme.less');

.signIn {
  background-color: #f5f5f5;
  overflow-y: scroll;
  display: block;

  .sign {
    width: 100vw;
    z-index: 0;
    position: relative;
    // background-color: #F5F5F5;
    .top-back {
      padding: 24px;
      background-color: @primary-color;
      height: 320px;
      border-radius: 0 0 35px 35px;
      margin-bottom: 110px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }
  // .wrap {
  // position: absolute;
  // top: 0;
  // }
}
